.col-lg-8{
  margin: auto;
}
.mid-horizontal{
  text-align: center;
}
.container{
  margin-top: 50px;
}
/*.col-lg-7 {
margin: auto;
display: flex;
}*/
.col-lg-7 {
  margin: auto;
  display: flex;
}
.smallMeeting {
  padding: 10px !important;
  zoom: 1 !important;
}
