.fnt {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: calc(0.30em + 1vmin);
  line-height: normal;
  color: #707070;
  margin: 0;
  padding: 0;
}
.smallWidth {
  width: 150px;
}
@media screen and (min-width: 600px) {
  .smallWidth {
    width: 150px;
  }
}

@media screen and (max-width: 500px) {
  .smallWidth {
    width: 90%;
    margin: 2%;
  }
}
