<nz-row nzJustify="center" nzAlign="middle">
  <nz-col nzSpan="22" nzOffset="2" style="margin-top: 20px;">
    <b>Account Settings</b>
  </nz-col>
</nz-row>
<nz-row nzJustify="center" nzAlign="middle">
  <nz-col nzSpan="24" style="margin-top: 10px;">
    <hr/>
  </nz-col>
</nz-row>
<nz-spin nzTip="Uploading..." [nzSpinning]="accountService.isSpinningStatus">
  <nz-spin nzTip="Loading..." [nzSpinning]="spinLoading">
    <nz-spin nzTip="Loading..." [nzSpinning]="accountService.isProfileisSpinningStatus">
      <nz-row nzJustify="center" nzAlign="middle">
  <nz-col nzSpan="20" nzOffset="2">
    <nz-tabset>
      <nz-tab nzTitle="Profile" style="color:#FF4165;">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
          <nz-row nzJustify="center" nzAlign="middle">
            <nz-col [nzXs]="{ span: 20,offset:2}" [nzMd]="{ span: 10, offset:3}" [nzLg]="{ span: 10, offset:3}"  align="start">

          <span class="fnt">
            Name
          </span>
              <nz-form-item>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input nz-input id="nickname" formControlName="name" >
                  <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">Please
                    input your name!
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzXs]="{span: 20,offset:2}" [nzMd]="{ span: 6, offset:1}" [nzLg]="{ span: 6, offset:1}"  align="start">
            <span class="fnt">
           Language
          </span>
              <nz-form-item>
                <nz-form-control>
                  <nz-select style="width: 100%;" formControlName="language" [nzDisabled]="true">
                    <nz-option nzValue="English" nzLabel="English"></nz-option>
                    <nz-option nzValue="French" nzLabel="French"></nz-option>
                    <nz-option nzValue="Spanish" nzLabel="Spanish"></nz-option>
                    <nz-option nzValue="German" nzLabel="German"></nz-option>
                    <nz-option nzValue="Portuguese (Brazil)" nzLabel="Portuguese (Brazil)"></nz-option>
                  </nz-select>
                  <nz-form-explain *ngIf="validateForm.get('language').dirty && validateForm.get('language').errors">
                    Please select your language!
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>

            </nz-col>
          </nz-row>

          <nz-row nzJustify="center" nzAlign="middle">
            <nz-col [nzXs]="{ span: 20,offset:2}" [nzMd]="{ span: 10, offset:3}" [nzLg]="{ span: 10, offset:3}" align="start">
            <span class="fnt">
          Date Format
          </span>
              <nz-form-item>
                <nz-form-control [nzSm]="14" [nzXs]="24" >
                  <nz-select style="width: 100%;" formControlName="dateFormat" [nzDisabled]="true">
                    <nz-option nzValue="DD/MM/YYYY" nzLabel="DD/MM/YYYY"></nz-option>
                    <nz-option nzValue="MM/DD/YYYY" nzLabel="MM/DD/YYYY"></nz-option>
                  </nz-select>
                  <nz-form-explain
                    *ngIf="validateForm.get('dateFormat').dirty && validateForm.get('dateFormat').errors">Please select
                    your dateFormat!
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzXs]="{span: 20,offset:2}" [nzMd]="{ span: 6, offset:1}" [nzLg]="{ span: 6, offset:1}"  align="start">
            <span class="fnt">
          Time Format
          </span>
              <nz-form-item>
                <nz-form-control>
                  <nz-select style="width: 100%;" formControlName="timeFormat" [nzDisabled]="true">
                    <nz-option nzValue="12h (am/pm)" nzLabel="12h (am/pm)"></nz-option>
                    <nz-option nzValue="24h" nzLabel="24h"></nz-option>
                  </nz-select>
                  <nz-form-explain
                    *ngIf="validateForm.get('timeFormat').dirty && validateForm.get('timeFormat').errors">Please select
                    your timeFormat!
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>

          <nz-row nzJustify="center" nzAlign="middle">
            <nz-col [nzXs]="{ span: 20,offset:2}" [nzMd]="{ span: 10, offset:3}" [nzLg]="{ span: 10, offset:3}" align="start">
             <span class="fnt">
          Country
          </span>
              <nz-form-item>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-select  style="width: 100%;" formControlName="country" [nzDisabled]="true">
                    <nz-option *ngFor="let country Of counntryList " nzValue="{{country.code}}" nzLabel="{{country.name}}"></nz-option>
                  </nz-select>
                  <nz-form-explain *ngIf="validateForm.get('country').dirty && validateForm.get('country').errors">
                    Please input your nickname!
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzXs]="{span: 20,offset:2}" [nzMd]="{ span: 6, offset:1}" [nzLg]="{ span: 6, offset:1}"   align="start">
              <span class="fnt">
       Time Zone
          </span>
              <ng2-timezone-picker width="150px" style="width: 50%;"
                                   [timezone]="timeZone" id="timeZone" (change)="changeTimezone($event)">
              </ng2-timezone-picker>
            </nz-col>
          </nz-row>

          <nz-row nzJustify="center" nzAlign="middle">
            <nz-col [nzXs]="{ span: 20,offset:2}" [nzMd]="{ span: 10, offset:3}" [nzLg]="{ span: 10, offset:3}" align="start">
             <span class="fnt">
          Meeting Platform
          </span>
              <nz-form-item>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-select  style="width: 100%;" formControlName="meetingPlatform">
                    <nz-option *ngFor="let _meetingPlatform of meetingPlatformResponse" nzValue="{{_meetingPlatform}}" nzLabel="{{_meetingPlatform}}"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzXs]="{span: 20,offset:2}" [nzMd]="{ span: 6, offset:1}" [nzLg]="{ span: 6, offset:1}"   align="start">
            </nz-col>
          </nz-row>

          <nz-row nzJustify="center" nzAlign="middle">
            <nz-col align="start" [nzXs]="{span: 20,offset:2}" [nzMd]="{ span: 17, offset:3}" [nzLg]="{ span: 17, offset:3}"  >
              <span class="fnt">
          Welcome Message
          </span>
              <br><br>

              <quill-editor formControlName="welcome"

                            (blur)="onEditorBlured($event)"
                            (focus)="onEditorFocused($event)"
                            (ready)="onEditorCreated($event)"
                            (change)="onContentChanged($event)"
              >

              </quill-editor>

            </nz-col>
          </nz-row>
          <nz-row nzJustify="center" nzAlign="middle" style="margin-top: 2%;margin-bottom: 3%">
            <nz-col  [nzXs]="{ span: 22,offset:1}" [nzMd]="{ span: 5, offset:2}" [nzLg]="{ span: 5, offset:2}"  align="center">
              <button nz-button type="submit" class="login-form-button smallWidth"
                      style="background-color:#FF4165; color: white;">Save Changes
              </button> &nbsp;&nbsp;&nbsp;&nbsp;
            </nz-col>
           <!-- <nz-col  [nzXs]="{ span: 22,offset:1}" [nzMd]="{ span:6}" [nzLg]="{ span:6}"  align="center">
              <button nz-button type="reset"  class="login-form-button smallWidth" style="border-color:#707070; color: #707070;"> Cancel</button>
            </nz-col>
            <nz-col [nzXs]="{ span: 22,offset:1}" [nzMd]="{ span:6}" [nzLg]="{ span: 6}" align="center">
              <button nz-button type="button"  class="login-form-button smallWidth" style="border-color:#707070; color: #707070;"
                      (click)="onDeleteAccount()" disabled> Delete Account
              </button>
            </nz-col>-->
          </nz-row>
        </form>
      </nz-tab>
    <!--  <nz-tab nzTitle="Picture" style="background-color:#FF4165;">
        <nz-row nzJustify="center" nzAlign="middle">
          <nz-col nzSpan="24" nzOffset="2">
            <h4 class="fnt" style="font-weight: bold;margin-top: 30px;margin-bottom: 30px">Uploaded pictures will
              display at the top of your Cloudmeetin page. (maximum file size of 3MB)</h4> &nbsp;&nbsp;
          </nz-col>
        </nz-row>
        <nz-row nzJustify="center" nzAlign="middle">
          <nz-col nzSpan="10" nzOffset="2">
            <form [formGroup]="profileForm" (ngSubmit)="submitMyProfileForm()">
              <nz-avatar [nzSize]="200" nzIcon="user" [nzSrc]="imagePreview!= null ? imagePreview : imageSource"
                         (click)="filePicker.click()" style="cursor: pointer" ></nz-avatar>

              <input type="file" name="file" #filePicker formControlName="file" (change)="onImagePicked($event)"
                     class="cdk-visually-hidden" accept="image/*">
              <button nz-button class="login-form-button fnt"
                      style="background-color:#FF4165; color: white; width: 180px;height: 40px; margin-left:10%"
                      [disabled]="upload">Upload Picture
              </button>
            </form>
          </nz-col>
        </nz-row>
      </nz-tab>-->
     <!-- <nz-tab nzTitle="Picture" style="background-color:#FF4165;">
        <nz-row nzJustify="center" nzAlign="middle">
          <nz-col nzSpan="24" nzOffset="2">
            <h4 class="fnt" style="font-weight: bold;margin-top: 30px;margin-bottom: 30px">Uploaded pictures will
              display at the top of your Cloudmeetin page. (maximum file size of 3MB)</h4> &nbsp;&nbsp;
          </nz-col>
        </nz-row>
        <nz-row nzJustify="center" nzAlign="middle">
          <nz-col nzSpan="10" nzOffset="2">
            &lt;!&ndash; <input type="file" (change)="fileChangeEvent($event)" />&ndash;&gt;
            <form [formGroup]="profileForm" (ngSubmit)="submitMyProfileForm()">
              <nz-avatar [nzSize]="200" nzIcon="user" [nzSrc]="imagePreview!= null ? imagePreview : imageSource"
                         (click)="filePicker.click()" style="cursor: pointer" ></nz-avatar>
              <button nz-button class="login-form-button fnt"
                      style="background-color:#FF4165; color: white; width: 180px;height: 40px; margin-left:10%"
                      [disabled]="upload">Upload Picture
              </button><br><br>
              <input *ngIf="viewCroper" nz-input formControlName="webLink" placeholder="Enter your website here  it will redirect you to on your image click"/>
              <p *ngIf="height">Height: {{height}}</p>
              <p *ngIf="width">Width: {{width}}</p>
              <input type="file" name="file" #filePicker formControlName="file" (change)="onImagePicked($event)"
                     class="cdk-visually-hidden" accept="image/*">
            </form>
          </nz-col>
        </nz-row>
        <nz-row nzJustify="center" nzAlign="middle">
          <nz-col nzSpan="10" nzOffset="2">
            <image-cropper
              *ngIf="viewCroper"
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="4 / 3"
              [resizeToWidth]="128"
              format="png"
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()"
              (cropperReady)="cropperReady()"
              (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
          </nz-col>
        </nz-row>
      </nz-tab>-->
      <nz-tab nzTitle="Picture" style="background-color:#FF4165;">
        <nz-row nzJustify="center" nzAlign="middle">
          <nz-col nzSpan="24" nzOffset="1">
            <h4 class="fnt" style="font-weight: bold;margin-top: 30px;margin-bottom: 30px">Uploaded pictures will
              display at the top of your Cloudmeetin page. (maximum file size of 3MB)</h4> &nbsp;&nbsp;
          </nz-col>
        </nz-row>
        <nz-row nzJustify="center" nzAlign="middle">
          <nz-col [nzXs]="{ span: 22,offset:1}" [nzMd]="{ span: 11}" [nzLg]="{ span: 11}" >
            <!-- <input type="file" (change)="fileChangeEvent($event)" />-->
            <form [formGroup]="profileForm" (ngSubmit)="submitMyProfileForm()">
              <!--<nz-avatar [nzSize]="200" nzIcon="user" [nzSrc]="imagePreview!= null ? imagePreview : imageSource"
                         (click)="filePicker.click()" style="cursor: pointer" ></nz-avatar>-->
              <img [src]="imagePreview!= null ? imagePreview : imageSource" alt="profile" height="200" width="200" style="cursor: pointer;border-radius: 50%" (click)="filePicker.click()"/>
              <br><br>
              <input *ngIf="viewCroper" style="width: 70%" nz-input formControlName="webLink" placeholder="Enter your website here  it will redirect you to on your image click"/>
              <!--<p ngIf="height">Dimension -  {{height}}  {{width}}</p>-->
              <input type="file" name="file" #filePicker formControlName="file" (change)="onImagePicked($event)"
                     class="cdk-visually-hidden" accept="image/*"><br> <br>
              <button nz-button class="login-form-button fnt"
                      style="background-color:#FF4165; color: white; width:70%; height: 40px;"
                      [disabled]="upload">Save profile data
              </button>
            </form>
          </nz-col>
          <nz-col [nzXs]="{ span: 22,offset:1}" [nzMd]="{ span: 11}" [nzLg]="{ span: 11}" >
            <image-cropper
              *ngIf="viewCroper"
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="1 / 1"
              [resizeToWidth]="128"
              imageQuality="99"
              format="jpeg"
              alignImage="center"
              roundCropper="border-radius:100%"
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()"
              (cropperReady)="cropperReady()"
              (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
          </nz-col>
        </nz-row>
      </nz-tab>
      <nz-tab nzTitle="My link">
        <nz-row nzJustify="center" nzAlign="middle">
          <nz-col nzSpan="24" nzOffset="2">
            <h4 class="fnt" style="font-weight: bold;margin-top: 30px;margin-bottom: 30px">Changing your Cloudmeetin URL
              will mean that all of your copied links will no longer work and will need to be updated.</h4> &nbsp;&nbsp;
          </nz-col>
        </nz-row>
        <form [formGroup]="myLinkForm" (ngSubmit)="submitMyLinkForm()">
          <nz-row nzJustify="center" nzAlign="middle">
            <nz-col nzSpan="10" nzOffset="2">
              <div style="margin-bottom: 16px;">
                <nz-input-group nzAddOnBefore="Cloudmeetin.com/" >
                  <input type="text" nz-input class="form-control" formControlName="userID" id="userID" disabled>
                </nz-input-group>
              </div>
            </nz-col>
          </nz-row>
          <nz-row nzJustify="start" *ngIf="linkButtonStatus">
            <nz-col nzSpan="10" nzOffset="1" align="start">
              <button nz-button class="login-form-button fnt"
                      style="background-color:#FF4165; color: white; width: 180px;height: 40px; margin-left:10%; margin-top:5% " disabled>
                Save Changes
              </button>
            </nz-col>
          </nz-row>
        </form>
      </nz-tab>
      <nz-tab nzTitle="Login">
        <nz-row nzJustify="center" nzAlign="middle">
          <nz-col nzSpan="10" nzOffset="2">
            <h4 class="fnt" style="font-weight: bold;margin-top: 30px;margin-bottom: 30px">You log in with an email
              address and password.</h4>
          </nz-col>
        </nz-row>
        <nz-row nzJustify="center" nzAlign="middle">
          <nz-col nzSpan="10" nzOffset="2">
            <b>Email Address</b><br>
            {{loginEmail}}
          </nz-col>
          <nz-col nzSpan="10" nzOffset="2">
            <!--<a style="color:#FF4165;cursor:pointer;" (click)="handleChangePassword()" disabled="true">Change email</a>-->
          </nz-col>
        </nz-row>
        <nz-row nzJustify="center" nzAlign="middle">
         <!-- <nz-col nzSpan="10" nzOffset="2">
            <b>Password</b><br>
            {{starPass}}
          </nz-col>
          <nz-col nzSpan="10" nzOffset="2" style="margin-top: 10px">
            <a style="color:#FF4165;cursor:pointer;" (click)="onDateRange()">Change password</a>
          </nz-col>-->
        </nz-row>
      </nz-tab>
    </nz-tabset>
  </nz-col>
</nz-row>
    </nz-spin>
  </nz-spin>
</nz-spin>

<nz-modal [(nzVisible)]="date_range" [nzWidth]="600" [nzClosable]="false" [nzTitle]="changePassword"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()" style="text-align: center;" [nzFooter]="footer">
  <form nz-form [formGroup]="changePasswordForm" (ngSubmit)="submitForm1()">

    <nz-row nzJustify="start" nzAlign="start">
      <nz-col align="center" nzOffset="5" nzSpan="24">
        <nz-form-item>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <h4 class="fnt" style="float: left">
              Current Password
            </h4>
            <input nz-input formControlName="password" id="password" type="password" />
            <nz-form-explain *ngIf="changePasswordForm.get('password')?.dirty && changePasswordForm.get('password')?.errors">
              Please input your password
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <h4 class="fnt" style="float: left">
              New Password
            </h4>
            <input nz-input type="password" minlength="8" id="createPassword" formControlName="createPassword" (ngModelChange)="updateConfirmValidator()"/>
            <nz-form-explain *ngIf="changePasswordForm.get('createPassword')?.dirty && changePasswordForm.get('createPassword')?.errors"
            >Please input your password!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <h4 class="fnt" style="float: left">
              Confirm Password
            </h4>
            <input nz-input type="password" minlength="8" formControlName="checkPassword" id="checkPassword" />
            <nz-form-explain
              *ngIf="changePasswordForm.get('checkPassword')?.dirty && changePasswordForm.get('checkPassword')?.errors">
              <ng-container *ngIf="changePasswordForm.get('checkPassword')?.hasError('required')">
                Please confirm your password!
              </ng-container>
              <ng-container *ngIf="changePasswordForm.get('checkPassword')?.hasError('confirm')">
                Two passwords that you enter is inconsistent!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <div nz-row>
          <div nz-col nzSpan="4">
            <nz-form-item>
              <nz-form-control>
                <button nz-button  class="login-button" type="submit" [disabled]="!changePasswordForm.valid" style="float: right; width: 100px; background: #FF4165; color: white" (click)="handleOk()">YES</button>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="16">
            <nz-form-item>
              <nz-form-control>
                <button nz-button class="login-button" type="button" style="border: 1px solid #707070;  width: 100px; color: #707070" (click)="handleCancel()">Cancel</button>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </nz-col>
    </nz-row>

  </form>
</nz-modal>
<ng-template #changePassword>
  <label>Change Password</label>
</ng-template>
<ng-template #footer>
</ng-template>



<nz-modal [(nzVisible)]="visibleEmail" [nzWidth]="600" [nzClosable]="false" [nzTitle]="changeEmail"
          (nzOnCancel)="handleCancelChangePassword()"
          (nzOnOk)="handleOkChangePassword()" style="text-align: center;" [nzFooter]="footer2">
  <form nz-form [formGroup]="changeEmailForm" (ngSubmit)="submitFormChangeEmail()">

    <nz-row nzJustify="start" nzAlign="start">
      <nz-col align="center" nzOffset="5" nzSpan="24">
        <nz-form-item>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <h4 class="fnt" style="float: left">
              Password
            </h4>
            <input nz-input formControlName="password" id="password1" type="password" placeholder="Password" />
            <nz-form-explain *ngIf="changeEmailForm.get('password')?.dirty && changeEmailForm.get('password')?.errors">
              Please input your password
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <h4 class="fnt" style="float: left">
              Email
            </h4>
            <input nz-input type="email" id="email" formControlName="email" placeholder="New email address" />
            <nz-form-explain *ngIf="changeEmailForm.get('email')?.dirty && changeEmailForm.get('email')?.errors">
              Please input your Email
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <div nz-row>
          <div nz-col nzSpan="4">
            <nz-form-item>
              <nz-form-control>
                <button nz-button  class="login-button" type="button" [disabled]="!changeEmailForm.valid" style="float: right; width: 100px; background: #FF4165; color: white" (click)="handleOkChangePassword()">YES</button>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="16">
            <nz-form-item>
              <nz-form-control>
                <button nz-button class="login-button" type="button" style="border: 1px solid #707070;  width: 100px; color: #707070" (click)="handleCancelChangePassword()">Cancel</button>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </nz-col>
    </nz-row>
  </form>
</nz-modal>
<ng-template #changeEmail>
  <label>Change Login Email</label>
</ng-template>
<ng-template #footer2>
</ng-template>

<nz-modal [(nzVisible)]="showConfirmEmail" [nzWidth]="400" [nzClosable]="false"
          (nzOnCancel)="handleCancelChangePassword()" [nzFooter]="footer3"
          (nzOnOk)="handleOkChangePassword()" style="text-align: center;" >
  <h4>Confirm Email</h4>
  Before finalizing email change, we need to verify
  your email address. Please check your inbox at ( {{cnfEmail}} ) for a confirmation link.<br>
</nz-modal>
<ng-template #footer3>
  <button nz-button  class="login-button" type="submit"  style=" width: 100px; background: #FF4165; color: white" (click)=" handleConfirmOk()">YES</button>
</ng-template>
<!--
<nz-modal [(nzVisible)]="showConfirmEmail" [nzWidth]="400" [nzClosable]="false"
          (nzOnCancel)="handleCancelChangePassword()" [nzFooter]="footer2"
          (nzOnOk)="handleOkChangePassword()" style="text-align: center;" >
  <h4>Confirm Email</h4>
  Before finalizing email change, we need to verify
  your email address. Please check your inbox at ( {{cnfEmail}} ) for a confirmation link.<br>
  <button nz-button  class="login-button" type="submit"  style="float: right; width: 100px; background: #FF4165; color: white" (click)=" handleConfirmOk()">YES</button>
</nz-modal>
-->


