<p style="font-size: 25px; font-family:sans-serif; margin-left: 20%; padding:2%">Account Settings</p>
<hr/>
<div class="container">
  <div class="row" style="margin: 10px;">
    <div class="col-md-3">
      <div class="dvMargin"><a routerLink="settings">Profile</a></div>
      <div class="dvMargin"><a routerLink="picture">Picture</a></div>
      <div class="dvMargin"><a href="#">My link</a></div>
      <div class="dvMargin"><a href="#">Login</a></div>
    </div>
    <div class="col-md-6">
      <span> Changing your Calendly URL will mean that all of your copied links will no longer work and will need to be updated.</span><br>
      <form [formGroup]="settingForm" (ngSubmit)="submitForm()">
        <div class="form-group">
          <div class="frm">
            <div class="input-group">
              <label for="name" class="col-lg-4">calendly.com/</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" name="name" id="name" style="width: 100%">
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" style="border-radius: 0px; color: white; margin-left: 10%;">Save changes</button>
      </form>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>
