ngx-ui-loader {
  width: 100%;
  height: auto;
}
.period {
  position: relative;
  padding: 0px 30px 20px 30px;
  max-width: 860px;
  box-sizing: border-box;
  white-space: nowrap;
}
.fnt {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: calc(0.30em + 1vmin);
  line-height: normal;
  color: #707070;
  margin: 0;
  padding: 0;
}


.col-lg-8{
  margin: auto;
}
.mid-horizontal{
  text-align: center;
}
.container{
  margin-top: 50px;
}
.col-md-10 {
  display: flex;
}
.custom-button {
  margin-top: 3%;
  color: #707070;background: none;border-color: #707070;width: 100px;align-content: center;
  margin-bottom: 2%;
}
.col-sm-4 {
  border: 1px solid #d9d9d9 ;
  margin-top: 2%;
}

.custom-card:hover {
  box-shadow: 1px 0 0 0 #e8e8e8, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8, 1px 0 0 0 #e8e8e8 inset, 0 1px 0 0 #e8e8e8 inset;
  transition: all .3s;

}
.custom-card {
  cursor: pointer;
  width: 80%;
  text-align: center;
  padding: 3%;
  margin: auto;
}


.login-button {
  width: 100%;
}
