<div>
  <nz-spin nzTip="Loading..." [nzSpinning]="isSpinning" [nzSize]="'large'">
    <div nz-row nzType="flex" nzJustify="center" style="margin-top: 90px">
      <div nz-col>
        <img src="../../../assets/Logo_c_new.svg" alt="" width="80px">
      </div>
    </div>
    <div nz-row nzType="flex" nzJustify="center" style="margin-top:50px ">
      <div nz-col >
        <h5 style="margin-bottom:30px ">Log into your CloudMeetIn account.</h5>
        <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
          <nz-form-item>
            <nz-form-control>
              <input type="text" nzSize="large" nz-input formControlName="emailID" placeholder="Username"  >
              <nz-form-explain *ngIf="loginForm.get('emailID').dirty && loginForm.get('emailID').errors">
                Please enter valid email address!
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <input type="password" nzSize="large" nz-input formControlName="password" placeholder="Password">
              <nz-form-explain *ngIf="loginForm.get('password').dirty && loginForm.get('password').errors">
                Please enter your password
              </nz-form-explain>
              <a href="" style="float: right" routerLink="/forgetPassword">Forgot password ?</a>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button class="login-form-button" style="background-color:#FF4165; color: white" [disabled]="!loginForm.valid">Log in</button>
              <p>Don't have an account ? &nbsp; <a routerLink="/signup">Sign up here</a></p>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
  </nz-spin>
</div>

<!--
<div nz-row nzType="flex" nzJustify="center" style="margin-top: 90px">
  <div nz-col>
    <img src="../../../assets/Logo_c_new.svg" alt="" width="80px">
  </div>
</div>
<div nz-row nzType="flex" nzJustify="center" style="margin-top:50px ">
  <div nz-col >
    <h5 style="margin-bottom:30px ">Log into your CloudMeetIn account.</h5>
    <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control>
          <input type="text" nzSize="large" nz-input formControlName="emailID" placeholder="Username"  >
          <nz-form-explain *ngIf="loginForm.get('emailID').dirty && loginForm.get('emailID').errors">
            Please enter valid email address!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <input type="password" nzSize="large" nz-input formControlName="password" placeholder="Password">
          <nz-form-explain *ngIf="loginForm.get('password').dirty && loginForm.get('password').errors">
            Please enter your password
          </nz-form-explain>
          <a href="" style="float: right" routerLink="/forgetPassword">Forgot password ?</a>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button class="login-form-button" style="background-color:#FF4165; color: white" [disabled]="!loginForm.valid">Log in</button>
          <p>Don't have an account ? &nbsp; <a routerLink="/signup">Sign up here</a></p>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
-->

