<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div nz-row>
  <div nz-col nzSpan="24">
    <img src="../../assets/err.png" alt="" style="width: 100%; margin:0;max-height: 600px">
  </div>
</div>
<div nz-row align="center" >
  <div nz-col nzSpan="8"></div>
  <div nz-col nzSpan="8">
    <div class="notfound" style="margin-left: auto;margin-top:-30%;margin-right: auto;display: inline-block;">
      <h2>404 - Page not found</h2>
      <p>{{message}}</p>
      <a routerLink="/" (click)="onHome()">Go To Homepage</a>
    </div>
  </div>
  <div nz-col nzSpan="8"></div>
</div>
