<div *ngIf="verified">
  <div class="container">
    <div class="row" style=" margin-top:2%;width: 90%; "><h3 style="margin-left:8%; margin-bottom: 2%;" >Calendar connection</h3></div></div>
  <hr/>
  <div class="container">
    <div class="row" style="margin-top: 3%; margin-left: 3%;">
      <div class="col-lg-2">
        <img class="img-circle" src="https://i.stack.imgur.com/22WR2.png" height="100" width="100" style="padding:20px; background-color:#f5f9fb " />
      </div>
      <div class="col-lg-8">
        <h6>Google Calendar</h6>
        <p>Allows CloudMeetIn to check Google calendar for conflicts and add events to it.</p>
      </div>
      <div class="col-lg-2">
        <button mat-stroked-button color="primary" style="background-color: #00A2FF; color: white; border-radius: 0;width: 130px;height: 45px; " (click)="changeCalendar()">Connect &nbsp; &nbsp; &nbsp; &nbsp; <mat-icon>keyboard_arrow_right</mat-icon></button>
      </div>
    </div>
  </div>
</div>
