<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p style="text-align: center; margin-top: 25px">{{userName}}</p>
      <hr>
      <div style="display: flex">
        <div class="col-lg-6">
          <div class="card-body">
            <h5>{{meetingTime}}</h5>
            <p>{{selectedTime}}  -  {{meetingDateTime | date: "MM/dd/yyyy"}}</p>
            <p>Times are in - {{meetingTimeZone}}</p>
          </div>

        </div>
        <div class="col-lg-6">
          <div class="text-left">
            <div class="card-body">
              <h5>Enter Details</h5>
              <form [formGroup]="meetingUserInfoForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label>Full Name</label>
                  <input type="email" [ngClass]="{'has-error': !meetingUserInfoForm.get('fullName').valid && meetingUserInfoForm.get('fullName').touched}"
                         formControlName="fullName" class="form-control" id="fullName" placeholder="fullname">
                  <span class="help-block" *ngIf="!meetingUserInfoForm.get('fullName').valid && meetingUserInfoForm.get('fullName').touched">
<span class="text-danger" *ngIf="meetingUserInfoForm.get('fullName').errors" required>full name required</span>
</span>
                </div>
                <div class="form-group">
                  <label>Your e-mail address</label>
                  <input type="email" [ngClass]="{'has-error': !meetingUserInfoForm.get('email').valid && meetingUserInfoForm.get('email').touched}"
                         formControlName="email" class="form-control" id="email" placeholder="email address">
                  <span class="help-block" *ngIf="!meetingUserInfoForm.get('email').valid && meetingUserInfoForm.get('email').touched">
<span class="text-danger" *ngIf="meetingUserInfoForm.get('email').errors" required>email address required</span>
</span>
                </div>
                <div class="form-group" *ngIf="checkMeetingOption">
                <label>Meeting Platform</label>
                <select style="width: auto;height: auto"  class="form-control" [value]='meetingSelectedOption' (change)="selectedPlatform($event.target.value)">
                  <option *ngFor="let item of meetingOptionList" [ngValue]="item">{{item}}</option>
                </select>
                <br/>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!meetingUserInfoForm.valid" >Schedule Event</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
