<div class="container" *ngIf="!findId">
  <h1>Invalid Meeting URL</h1>
</div>
<div class="container" *ngIf="findId">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-8">
        <div class="mid-horizontal">
          <div class="col-lg-8">
            <p>{{Meeting_owner}}</p>
            <p>{{headingTitle}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-7" style="margin-top: 55px">
        <mat-card class="col-lg-7 mr-4" style="cursor: pointer;" routerLink="/" (click)="setEvent('15min')">
          <svg width="40" height="40">
            <circle cx="15" cy="15" r="13" fill="#dfc12d"></circle>
          </svg>
          <p>
            {{meeting_time15}}
          </p>
        </mat-card>
        <mat-card class="col-lg-7 mr-4" style="cursor: pointer;" (click)="setEvent('30min')">
          <svg width="40" height="40">
            <circle cx="15" cy="15" r="13" fill="blue"></circle>
          </svg>
          <p>
            {{meeting_time30}}
          </p>
        </mat-card>
      </div>
      <div class="col-lg-7" style="margin-top: 55px">
        <mat-card class="col-lg-7" style="cursor: pointer;" (click)="setEvent('60min')">
          <svg width="40" height="40">
            <circle cx="15" cy="15" r="13" fill="#EE5353"></circle>
          </svg>
          <p>
            {{meeting_time60}}
          </p>
        </mat-card>
        <div class="col-lg-7">
        </div>
      </div>
    </div>
  </div>
</div>
