<nz-spin nzTip="Loading..." [nzSpinning]="isSpinning" [nzSize]="'large'">
  <div nz-row nzType="flex" nzJustify="center" style="margin-top: 50px">

    <div nz-col>
      <img src="../../../assets/Logo_c_new.svg" alt="" width="80px">
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="center" style="margin-top:30px;margin-bottom: 30px ">
    <div nz-col [nzXs]="{ span: 22}" [nzMd]="{ span: 14}" [nzLg]="{ span: 14}">
      <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="onSubmit()">
        <nz-card >
          <div nz-col nzType="flex" nzJustify="center">
            <h5>Welcome to CloudMeetIn</h5>
            <h6>We take the work out of connecting with others so you can accomplish more.</h6>
          </div>
          <hr>
          <div nz-row>
            <div nz-col [nzXs]="{ span: 12, offset: 0 }" [nzLg]="{ span: 12, offset: 0}">
              <h4 style="margin-top: 20px">Create your CloudMeetIn URL</h4>
              <h3 style="margin-top: 20px">Your custom booking URL to share with your customers.</h3>
            </div>
            <div nz-col [nzXs]="{ span: 12, offset: 0}" [nzLg]="{ span: 12, offset: 0 }">
              <img src="../../../assets/Reminder.svg" alt="" class="logo-container">
            </div>
          </div>
          <nz-form-item style="margin-top: 30px;margin-bottom: -15px">
            <nz-form-control>
              <nz-input-group nzAddOnBefore="CloudMeetIn.com/">
                <input type="text" nz-input formControlName="userId" (keypress)="omit_special_char($event)" (change)="getUser($event)" id="userName" placeholder="Username">
              </nz-input-group>
              <label *ngIf="!validUserId" style="color: red">Username already exists</label>
            </nz-form-control>
          </nz-form-item>
        </nz-card>
        <div nz-row>
          <div nz-col nzSpan="8">
            <h4 style="margin-top: 15px">Time Zone</h4>
            <ng2-timezone-picker [timezone]="timeZone" (change)="changeTimezone($event)" style="width: 15px"></ng2-timezone-picker>
          </div>
          <div nz-col nzSpan="8" nzOffset="8">
            <nz-form-control>
              <button nz-button class="primary" [disabled]="!form.valid" >Continue</button>
            </nz-form-control>
          </div>
        </div>
      </form>
    </div>
  </div>
</nz-spin>

