<div class="container">
  <div class="row">
    <div class="col-lg-8" style="margin: auto">
      <mat-card class="example-card">
        <div class="col-lg-8">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Welcome to CA Calendly!</mat-card-title>
            <br>
            <mat-card-subtitle>We take the work out of connecting with others so you can accomplish more.</mat-card-subtitle>
            <div class="col-lg-3">
              <img mat-card-image src="https://cdn4.iconfinder.com/data/icons/real-estate-set-1-2/64/real-estate_1-20-512.png" alt="Photo of a Shiba Inu" width="20">
            </div>
          </mat-card-header>
        </div>
        <br>
        <mat-card-content>
          <h6>Create your Calendly URL</h6>
          <p>
            Choose a URL that describes you or your business in a concise way. Make it short and easy to remember so you can share links with ease.
          </p>
        </mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div style="margin-left: 10px;margin-right: 10px;">
        <div class="form-group row" style=" border: 2px solid grey;">
          <p class="control-label col-sm-2 col-md-2" style="text-align: center;margin: auto">calendly.com/</p>
          <div class="col-sm-10 col-md-10">
            <input type="text" formControlName="userId" (change)="getUser($event)" class="form-control" id="userName"  placeholder="User Name" style=" border: none;">
          </div>
        </div>
          <label *ngIf="!validUserId" style="color: red">Username already exists</label>
          <br/>
          <br/>
        </div>
        <h6>Time Zone</h6>
      <!--  <select style="width: auto;height: auto" formControlName="timeZone"  [value]='46'>
          <option value="46">Select TimeZone</option>
          <option value="India , Sri Lanka Time (3:50pm)">Asia/Kolkata</option>
          <option value="saab">Pacific/Pago_Pago</option>
          <option value="mercedes">America/Adak</option>
          <option value="audi">America/Vancouver</option>
        </select>-->
          <ng2-timezone-picker
          [timezone]="timeZone" (change)="changeTimezone($event)">
        </ng2-timezone-picker>
        <br/>
        <mat-card-actions style="justify-content: flex-end;display: flex;">
          <button mat-button >Cancel</button>
          <button mat-button class="btn btn-primary" [disabled]="((!timeZoneStatus) && (!form.valid))">Continue</button>
        </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </div>
</div>
