<div class="container">
  <div class="row"  style=" margin-top:2%;width: 90%; "><h3 style="margin-left:8%; margin-bottom: 2%;" >Calendar connection</h3></div></div>
<hr/>
<div class="container">
  <div class="row" style="margin-top: 3%; margin-left: 3%;">
    <div class="col-lg-2">
      <img class="img-circle" src="https://i.stack.imgur.com/22WR2.png" height="100" width="100" style="padding:20px; background-color:#f5f9fb " />
    </div>
    <div class="col-lg-8">
      <h6>Google Calendar</h6>
      <p>Allows Calendly to check Google calendar for conflicts and add events to it.</p>
    </div>
    <div class="col-lg-2">
      <button mat-stroked-button color="primary" style="background-color: #00A2FF; color: white; border-radius: 0;width: 130px;height: 45px; " (click)="changeCalendar()">Connect &nbsp; &nbsp; &nbsp; &nbsp; <mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" style="margin-top: 3%; margin-left: 3%;">
    <div class="col-lg-2">
      <img class="img-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK_2rxntZOt1gXJOelf74MZlCu6f2jwv926nXnl8f_sECk8fU5Qg" height="100" width="100" style="padding:20px; background-color:#f5f9fb " />
    </div>
    <div class="col-lg-8">
      <h6>Office 365/Outlook.com</h6>
      <p>Allows Calendly to check your Office 365, Outlook.com, live.com, or hotmail calendar for conflicts<br> and add events to it.</p>
    </div>
    <div class="col-lg-2">
      <button mat-stroked-button color="primary" style="background-color: #00A2FF; color: white; border-radius: 0;width: 130px;height: 45px; " routerLink="/newEvent/create">Connect &nbsp; &nbsp; &nbsp; &nbsp; <mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" style="margin-top: 3%; margin-left: 3%;">
    <div class="col-lg-2">
      <img class="img-circle" src="https://uploads-ssl.webflow.com/5c3d33c4e44536a9820e6d92/5c3d33c4e445363aef0e6f5b_Outlook.com_icon.svg.png" height="100" width="100" style="padding:20px; background-color:#f5f9fb " />
    </div>
    <div class="col-lg-8">
      <h6>Outlook Plug-In (for Windows users)</h6>
      <p>Allows Calendly to check Outlook for conflicts and add events to it.<br>
        Requirements: Outlook 2007, 2010, 2013 or 2016 with Windows XP, Vista, 7, 8, 8.1 or 10.</p>
    </div>
    <div class="col-lg-2">
      <button mat-stroked-button color="primary" style="background-color: #00A2FF; color: white; border-radius: 0;width: 130px;height: 45px; " routerLink="/newEvent/create">Connect &nbsp; &nbsp; &nbsp; &nbsp; <mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" style="margin-top: 3%; margin-left: 3%;">
    <div class="col-lg-2">
      <img class="img-circle" src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/512/Cloud-app-icon.png" height="100" width="100" style="padding:20px; background-color:#f5f9fb " />
    </div>
    <div class="col-lg-8">
      <h6>iCloud Calendar</h6>
      <p>Allows Calendly to check your iCloud calendar for conflicts and add events to it.</p>
    </div>
    <div class="col-lg-2">
      <button mat-stroked-button color="primary" style="background-color: #00A2FF; color: white; border-radius: 0;width: 130px;height: 45px; " routerLink="/newEvent/create">Connect &nbsp; &nbsp; &nbsp; &nbsp; <mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
  </div>
</div>
