<div class="container">
  <div class="row">
    <div class="col-lg-8" style="margin: auto">
      <mat-card class="example-card">
          <mat-card-header class="card">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Your Google Calendar’s connected!</mat-card-title>
            <br>
            <mat-card-subtitle style="font-size: 16px">CA Calendly will auto-check your calendar for busy times and add new events as they are scheduled.</mat-card-subtitle>
            <div class="col-lg-3">
              <img mat-card-image src="https://www.icone-png.com/png/19/18890.png" alt="Photo of a Shiba Inu" width="20">
            </div>
          </mat-card-header>
        <br>
        <mat-card-content>
          <div class="container">
            <h6>Here’s how Calendly will work with </h6>
            <h6>{{email}}</h6>
          </div>
          <br><br>
          <ol>
            <li>We’ll check <strong>{{email}} </strong> for conflicts <a (click)="openCalendarOption()" style="cursor: pointer;color: #00A2FF ">Edit</a></li>
            <hr>
            <li>We’ll add events to <strong>{{email}} </strong><a (click)="openCalendarEvent()" style="cursor: pointer;color: #00A2FF">Edit</a></li>
          </ol>
        </mat-card-content>
        <mat-card-actions>
          <button style="color: white" mat-button (click)="updateEventCalendar()" class="btn btn-primary">Continue</button>
          <button mat-button type="button" (click)="setUpLater()">Set up later</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
