<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-8">
        <div class="mid-horizontal">
          <p>{{Meeting_owner}}</p>
        </div>
      </div>
      <hr>
      <div class="col-md-10">
        <div class="col-md-10">
          <svg width="40" height="40">
            <circle cx="15" cy="15" r="13" fill="#dfc12d"></circle>
          </svg>
          <p>
            {{meeting_time}}
          </p>
        </div>
        <div class="col-md-10">
          Times are in <ng2-timezone-picker
          [(timezone)]="timeZone" (click)="changeTimezone(timeZone)">
        </ng2-timezone-picker>
        </div>
      </div>
      <hr>
      <div class="col-lg-8">
        <div class="mid-horizontal">
          <h6 style="font-weight:bold;">{{select_day}}</h6>
        </div>
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]='selectDate'>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
        {{selectDate}}
      </div>
      <button style="float: right" type="button" class="btn btn-primary" (click)="OnContinue()">Continue</button>
    </div>
  </div>
</div>
