.col-lg-6 {
  margin: auto;
}
.container{
  margin-top: 20px;
}
.mid-horizontal{
  text-align: center;
}
.has-error{
  border: 1px solid red;
}
h6{
  color: #707070;
  text-align: center;
  font-size: calc(0.50em + 1.5vmin);;
}
h5{
  color: black;
  text-align: start;
  font-size: calc(0.50em + 1.5vmin);;
}
h4{
  color: black;
  text-align: start;
  font-size: calc(0.30em + 1.30vmin);;
}

