<p style="font-size: 25px; font-family:sans-serif; margin-left: 20%; padding:2%">Account Settings</p>
<hr/>
<div class="container">
  <div class="row" style="margin: 10px;">
    <div class="col-md-3">
      <div class="dvMargin"><a routerLink="settings">Profile</a></div>
      <div class="dvMargin"><a routerLink="picture">Picture</a></div>
      <div class="currenta"><a routerLink="myLink">My link</a></div>
      <div class="dvMargin"><a href="#">Login</a></div>
    </div>
    <div class="col-md-6">
      <span> Upload pictures will display at the top of your Calendly page. (maximum file size of 5MB)</span><br>
      <img src="https://www.pr-inside.com/images/uploads/pr/2018/97797/20181129_ca-logo_97797.png" alt="Missing image" height="100px" width="100px" class = "img-circle" style="margin-top: 5%;"/>
      <button class="btn btn-primary" style="border-radius: 0px; color: white; margin-left: 10%;">Upload Picture</button>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>
