.col-lg-6 {
   margin: auto;
 }
.container{
  margin-top: 20px;
}
.mid-horizontal{
  text-align: center;
}
.has-error{
  border: 1px solid red;
}

button {
  margin-top: 20px;
  background:  #FF4165;
  color: white;
}
 label {
   font-size: calc(0.50em + 1vmin);
   line-height: normal;
   color: #707070;
   margin: 0;
   padding: 0;
 }
 h6 {
   color: #707070;
   font-size: calc(0.30em + 1vmin);
   padding: 25px;
   text-align: center;
 }
h5{
  color: #707070;
  text-align: center;
  font-size: calc(0.50em + 1vmin);
}

.heading {
  color: #707070;
  font-size: 20px;
  padding: 0;
  margin: 0;
  opacity: 100%;
}

.login-form {
  max-width: 400px;
}

a{
  color: #FF4165;
}
p{
  text-align: center;
  margin: auto;
  font-size: calc(0.30em + 1vmin);
  max-width: 500px;
  padding: 25px 25px 40px 25px;
}
img {
  padding: 0 0 50px 0;
}

