<nz-spin nzTip="Loading..." [nzSpinning]="isSpinning" [nzSize]="'large'">
<div nz-row style="margin-top: 2%">
  <div class="mid-horizontal">
    <img src="../../../assets/Logo_c_new.svg" alt="" width="80">
    <br><br>
    <div class="heading">
      <h5>Sign Up for CloudMeetIn and get a 30 - day pro trial</h5>
      <h5>includes all features and 50 bookings.</h5>
      <h5>No credit card needed.</h5>
    </div>
  </div>
</div>
<div nz-row nzType="flex" nzJustify="center" style="margin-top:50px ">
  <div nz-col style="padding: 15px;" >
    <button id="google-button" style="background-color:#FF4165; color: white; cursor: pointer;"
            class="btn btn-block btn-social btn-google" (click)="signUpByGoogleEmail()" [ngStyle]="{'cursor':isCheckedButton === true ? 'pointer' : 'no-drop' }" [disabled]="!isCheckedButton">
      <i class="fa fa-google"></i> Sign in with Google
    </button>
    <label nz-checkbox [(ngModel)]="isCheckedButton"
    style="margin-top: 2%">
    </label>
    I agree to <a href="https://cloudmeetin.com/terms-conditions" target="_blank" style="text-decoration-line: underline; color: #707070; font-size: 12px">Terms & Privacy Policy</a>
  </div>
</div>
</nz-spin>

<!--<a href="https://support.cloudmeetin.com?u={{_link}}" target="_blank">Help</a>-->
