
<nz-spin nzTip="Loading..." [nzSpinning]="spinLoading" [nzSize]="'large'">
<div nz-row style="margin-top: 20px" *ngIf="!alreadyIntegrated">
  <!-- <div nz-col [nzXs]="{ span: 0}" [nzMd]="{ span: 4}" [nzLg]="{ span: 4}">
   </div>-->
  <div nz-col [nzXs]="{ span: 24}" [nzMd]="{ span: 16, offset:4}" [nzLg]="{ span: 16, offset:4}" >
    <div nz-row align="center">
      <div nz-col align="center"  [nzXs]="{ span: 8 }" [nzMd]="{ span: 6}" [nzLg]="{ span: 6}" style="margin-top: 2%;">

        <button nz-button nzType="primary" style="color: #707070;background: none;border-color: #707070;width: 100px;align-content: center" routerLink="/integrations"><i nz-icon nzType="double-left" nzTheme="outline"></i>&nbsp; Back</button>

      </div>
      <div nz-col align="center" [nzXs]="{ span: 20 , offset:2}" [nzMd]="{ span: 12}" [nzLg]="{ span: 12}" style="margin-top: 2%;">
        <h6>GoToMeeting Information</h6>
      </div>
    </div>
    <div style="margin-top: 50px">
      <nz-card style="margin: 2%;">
        <div nz-row >
          <div nz-col [nzXs]="{ span: 20 , offset:2}" [nzMd]="{ span: 8}" [nzLg]="{ span: 8}" style="height: 100%">
            <img src="./../../../assets/gtm.jpg" style="alignment: center">
          </div>
          <div nz-col [nzXs]="{ span: 20 , offset:2}" [nzMd]="{ span: 12}" [nzLg]="{ span: 12}" >
            <h5><b>Features that save you time:</b></h5>
            <div style="margin-left: 4%">
              <h4>&#9679; Automatically create GoToMeeting at the time an event is scheduled.</h4>
              <h4>&#9679; Instantly share unique conferencing details upon confirmation.</h4>
            </div>
            <h5>Supports any GoToMeeting account:</h5>
            <div style="margin-left: 4%">
              <h4>&#9679; Web conferencing url on all GoToMeeting accounts.</h4>
              <h4>&#9679; Call-In Instructions on Paid GoToMeeting accounts.</h4>
            </div>
            <div nz-col [nzXs]="{ span: 20 , offset:2}" [nzMd]="{ span: 10}" [nzLg]="{ span: 10}"  style="margin-top: 20px">
              <button nz-button nzType="primary" (click)="gtmIntegrationStart()">Connect GoToMeeting</button>
            </div>
          </div>
          <!-- <div nz-col [nzXs]="{ span: 20 , offset:2}" [nzMd]="{ span: 10}" [nzLg]="{ span: 10}" style="height: 100%">
             <img src="./../../../assets/gtm.jpg" style="alignment: center">
           </div>-->
        </div>
      </nz-card>
    </div>
  </div>
  <div nz-col nzSpan="4">
  </div>
</div>
<div nz-row *ngIf="alreadyIntegrated" style="margin-top: 20px;">
  <div nz-col [nzXs]="{ span: 24}" [nzMd]="{ span: 16, offset:4}" [nzLg]="{ span: 16, offset:4}" >
    <!--  <div nz-row style="margin-top: 20px">
        <div nz-col [nzXs]="{ span: 20 , offset:2}" [nzMd]="{ span: 3, offset:3}" [nzLg]="{ span: 3, offset:3}">
          <button nz-button nzType="primary" style="color: blue;background: none;border-color: blue;width: 80%;align-content: center" routerLink="/integrations">Back</button>
        </div>
        <div nz-col [nzXs]="{ span: 20 , offset:2}" [nzMd]="{ span: 15}" [nzLg]="{ span: 15}">
          <h6>GoToMeeting Information</h6>
        </div>
      </div>-->
    <div nz-row align="center">
      <div nz-col align="center"  [nzXs]="{ span: 8 }" [nzMd]="{ span: 6}" [nzLg]="{ span: 6}" style="margin-top: 2%;">
        <button nz-button nzType="primary" style="color: #707070;background: none;border-color: #707070;width: 100px;align-content: center" routerLink="/integrations"><i nz-icon nzType="double-left" nzTheme="outline"></i>&nbsp; Back</button>
      </div>
      <div nz-col align="center" [nzXs]="{ span: 20 , offset:2}" [nzMd]="{ span: 12}" [nzLg]="{ span: 12}" style="margin-top: 2%;">
        <h6>GoToMeeting Information</h6>
      </div>
    </div>
    <div nz-row style="margin-top: 20px">
      <div nz-col align="center">
        <nz-card style="margin: 2%">
          <div nz-row nzType="flex" nzJustify="center">
            <b>You have done integration with:</b>&nbsp; {{gtmIntegratedEmail}}
          </div>
          <div nz-row nzType="flex" nzJustify="center" style="margin-top: 20px">
            <button nz-button nzType="info" (click)="disconnectGTM()" style="background: #FF4165; color: white">Disconnect GTM Integration</button>
          </div>
        </nz-card>
      </div>
      <div nz-col nzSpan="4">
      </div>
    </div>
  </div>
</div>
</nz-spin>
