<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-8">
        <div class="mid-horizontal">
          <h3 class="title_Font">The best automated scheduling software for you and</h3>
          <h3 class="title_Font" style="color: #656a72">everyone you mee</h3>
        </div>
        <div style="text-align: center">
          <img
            src="https://i.dlpng.com/static/png/329575_preview.png"
            alt="">
        </div>
        <div>
          <div class="text-left" >
            <p>CA Calendly works with your calendar to automatically
              check availability and help you connect with your best contacts,
              prospects and clients.</p>
          </div>
          <div class="col-lg-4">
            <img src="https://www.openhab.org/logos/gcal.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
