.col-lg-8{
  margin: auto;
}
.mid-horizontal{
  text-align: center;
}
.container{
  margin-top: 20px;
}
.title_Font {
  color: #656a72;
  font-weight: bold;
}
img {
  width:100%;
  height:100%;
  object-fit:cover;
}
