.signupForm {
  max-width: 400px;
}

.login-form-forgot {
  float: right;
  color:#FF4165;
}

.signupForm-button {
  width: 100%;
}
h5{
  color: #707070;
  text-align: center;
  font-size: calc(0.50em + 1vmin);
}
.gutter-box {
  background: #00A0E9;
  padding: 5px 0;
}
a{
  color:#FF4165;
  opacity: 100%;
}
a:link{
  color:#FF4165;
}
a:hover {
  color: hotpink;
  cursor: pointer;
  text-decoration: underline;
}
a:active {
  color: blue;
}
