<!--
<h2 mat-dialog-title>Which calendars should we add new events to?</h2>
<form [formGroup]="cancelForm">
  <div class="form-group">
    <label>Enter Reason.</label>
    <input type="text" formControlName="message" class="form-control" id="message" placeholder="Reason">
  </div>
  <mat-dialog-actions >
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <button type="button" id="btnSearch" style="width: 100%;" class="btn btn-primary" (click)="cancelMeeting()" [disabled]="!cancelForm.valid">Cancel Meeting</button>
        </div>
        <div class="col-sm-6 col-md-6">
          <button type="button" id="btnSearchgf" style="width: 100%;" class="mat-raised-button"  (click)="buttonBack()" >Back</button>
        </div>
      </div>
    </div>
  </mat-dialog-actions>
</form>

-->
<div class="container">
  <div class="row justify-content-center align-content-center">
    <h4 style="color: #707070">Change Password</h4>
  </div>
</div>
<div class="container" style="width:500px">
  <form [formGroup]="cancelForm">
    <h5 style="color: #707070">Current Password</h5>
    <div class="form-group">
      <input type="text" formControlName="currentP" class="form-control" id="currentP" placeholder="Password">
    </div>
    <h5 style="color: #707070">New Password</h5>
    <div class="form-group">
      <input type="text" formControlName="newP" class="form-control" id="newP" placeholder="New Password">
    </div>
    <div class="form-group">
      <input type="text" formControlName="confirmP" class="form-control" id="confirmP" placeholder="Repeat new Password">
    </div>
    <mat-dialog-actions >
      <div class="container-fluid">
        <div nz-row style="margin-top: 1%;margin-bottom: 2%" nzAlign="middle" nzJustify="center">
          <nz-col nzSpan="24" align="center">
            <button nz-button nzSize="default" class="login-form-button" style="background-color:#FF4165; color: white; width: 150px" (click)="cancelMeeting()" [disabled]="!cancelForm.valid" >Yes</button> &nbsp;&nbsp;&nbsp;&nbsp;
            <button nz-button nzSize="default" class="login-form-button" style="border-color:#707070; color: #707070; width: 150px" (click)="buttonBack()">Cancel</button>
          </nz-col>
        </div>
      </div>
    </mat-dialog-actions>
  </form>
</div>


