
<nz-spin nzTip="Loading..." [nzSpinning]="isSpinning" [nzSize]="'large'">
  <div nz-row nzType="flex" nzJustify="center" style="margin-top: 5%">
    <div nz-col>
      <img src="./../../assets/Logo_c_new.svg" alt="" width="80px">
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="center" style="margin-top:30px;margin-bottom: 30px ">
    <div nz-col [nzXs]="{ span: 22}" [nzMd]="{ span: 14}" [nzLg]="{ span: 14}">
      <form nz-form [formGroup]="calendarForm" class="login-form" (ngSubmit)="updateRole()">
        <nz-card id="caCard">
          <div nz-col nzType="flex" align="center">
            <h5>Personalize your experience</h5>
            <h6>Tell us about role at work this will help us to provide <br> a tailored support experience.</h6>
          </div>
          <hr>
          <div nz-row nzType="flex" nzJustify="start">
            <div nz-col [nzXs]="{ span: 22, offset: 1}" [nzLg]="{ span: 22, offset: 1 }">
              <b>What is your role at work ?</b>
              <nz-select style="width: 100%;" formControlName="role" nzPlaceHolder="Choose your role..." nzAllowClear >
                <nz-option *ngFor="let o of data" [nzValue]="o" [nzLabel]="o"></nz-option>
              </nz-select>
            </div>
          </div>

        </nz-card>
        <div nz-col nzSpan="8" nzOffset="8">
          <nz-form-control>
            <button nz-button class="primary" type="submit" [disabled]="!calendarForm.valid" >Finish</button>
          </nz-form-control>
        </div>
      </form>
    </div>
    <div></div>
  </div>
</nz-spin>
