<div id="idStyle" class="mat-dialog-container">
  <form [formGroup]="myForm">
    <h6 style="margin-left: 25%">Share Your Link</h6>
    <div class="container">
      <div class="form-group" >
        <label for="copyLink">Copy Your Link</label>
        <div style="display: flex">
          <input type="text"
                 id="copyLink"
                 class="form-control"
                 formControlName="copyLink" #inputTarget readonly style="background-color: white"/>
          <i nz-icon nzType="copy" nzTitle="Copy" nzTheme="outline" [ngxClipboard]="inputTarget" style="
font-size: 20px;color: #FF4165; margin-left: 5px; line-height: unset; cursor: pointer" nz-tooltip (click)="onCopied()"></i>
        </div>
      </div>
      <div class="form-group" >
        <label for="emailLink">Email Your Link</label>
        <div style="display: flex">
          <input type="text" id="emailLink" class="form-control"
                 formControlName="emailLink" readonly style="background-color: white">

          <i nz-icon nzType="mail" nzTheme="outline" nzTitle="Email" style="
font-size: 20px;color: #FF4165; margin-left: 5px; line-height: unset; cursor: pointer" nz-tooltip></i>
        </div>
      </div>
      <!--<div class="form-group">-->
      <!--<label for="Embed">Embed on Your Website</label>-->
      <!--<input type="text" id="Embed" class="form-control"-->
      <!--disabled-->
      <!--formControlName="Embed">-->
      <!--</div>-->
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" style="margin: auto" mat-button mat-dialog-close>
        close
      </button>
    </div>
  </form>
</div>
