<div id='page-region'>
  <div id='alert-region'></div>
  <div class='wrapper'>
    <div class='section centered'>
      <div class='sub-section hero'>
        <h1 class='mbs'>Simple, beautiful team scheduling.</h1>
        <div class='mobile-off'>
          <form novalidate="novalidate" class="pill-form mvs" action="https://calendly.com/signup" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="c7+Z8NIoCDKxI0oZEhJMRzrRLZ076xzfASR2o/SsNaITaXzu8OUgzrEZ09E+pOLk9T2sBhg5NkWOMZusuiJACg==" />
            <input type="hidden" name="section" id="section" value="Hero - Teams" />
            <input type="email" name="email" id="email" placeholder="Enter your email" />
            <input type='submit' value='Sign Up'>
          </form>
          <p class='text-center pbs'>Get started for free. No credit card required.</p>
        </div>
        <div class='desktop-off'>
          <div class='pbs'>
            <a class="button" data-section="Hero - Teams" href="../signup.html">Get Started For Free</a>
          </div>
          <small>No credit card required.</small>
        </div>
      </div>
      <div class='sub-section centered'>
        <div class='tiles'>
          <div class='row adaptive'>
            <div class='col1of3'>
              <img width="200" height="160" src="https://assets.calendly.com/assets/landing/team_scheduling/teams-icon-01-b9ff710f855fd696fe537190a45a74572dd5fdebb0711fdd9a22d00c7ee5141d.png" />
              <p class='mbx'>
                <strong>Individual Scheduling</strong>
              </p>
              <p>
                Full Premium features and personal scheduling pages for each team member.
              </p>
            </div>
            <div class='col1of3'>
              <img width="200" height="160" src="https://assets.calendly.com/assets/landing/team_scheduling/teams-icon-02-4afe01d3e582dbbd50dfdd621db6381d37b9abf1916b6588298a753443c54bd0.png" />
              <p class='mbx'>
                <strong>Auto-assigned meetings</strong>
              </p>
              <p>
                Invitee schedules a time, meeting is automatically assigned to an available team member.
              </p>
            </div>
            <div class='col1of3'>
              <img width="200" height="160" src="https://assets.calendly.com/assets/landing/team_scheduling/teams-icon-04-2d49c128351696930cfdfa5449e78fff5d39de75fd0914b69c6231b0e78d7209.png" />
              <p class='mbx'>
                <strong>Team member selection</strong>
              </p>
              <p>
                Invitee chooses which team member they need to meet with from a team-wide page.
              </p>
            </div>
          </div>
          <div class='row adaptive'>
            <div class='col1of3'>
              <img width="200" height="160" src="https://assets.calendly.com/assets/landing/team_scheduling/teams-icon-05-45adf1bee95bc583c44c898d8d01a6eb11db38ee1fa781199347a3ebc00895e2.png" />
              <p class='mbx'>
                <strong>Team-wide Pages</strong>
              </p>
              <p>
                Display your entire company / department's availability on one convenient page.
              </p>
            </div>
            <div class='col1of3'>
              <img width="200" height="160" src="https://assets.calendly.com/assets/landing/team_scheduling/teams-icon-05-45adf1bee95bc583c44c898d8d01a6eb11db38ee1fa781199347a3ebc00895e2.png" />
              <p class='mbx'>
                <strong>Centralized Billing</strong>
              </p>
              <p>
                One easy payment covers all team members' subscriptions. Volume discounts available for teams of 10+.
              </p>
            </div>
            <div class='col1of3'>
              <img width="200" height="160" src="https://assets.calendly.com/assets/landing/team_scheduling/teams-icon-06-e1fb8102d09b1b75cd746b49c4e3b80a38c8d42570c96c30ba16db9ddcf0d88d.png" />
              <p class='mbx'>
                <strong>Metrics & Reporting</strong>
              </p>
              <p>
                Understand what drives invitees to engage and track scheduling activity to campaigns.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='section last' id='form'>
      <div class='sub-section wufoo-form'>
        <div class='tiles'>
          <div class='row adaptive'>
            <div class='col2of3 centered'>
              <h3 class='mbm'>Have a question about how CloudMeetIn might fit your team's needs?</h3>
              <h4 class='mbl'>Tell us more, and we’ll see how we can help.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
