<div nz-row nzType="flex" nzJustify="center" style="margin-top: 90px">
  <div nz-col>
    <img src="../../../../assets/Logo_c_new.svg" alt="" width="80px">
  </div>
</div>
<div  nz-row nzType="flex" nzJustify="center" style="margin-top:90px ">
  <div nz-col align="center" nzSpan="12">
    <h6 align="center">This will change the password for the account.</h6>
    <h6 align="center" style="color:#FF4165;margin-bottom:3%">{{email}}</h6>
    <form nz-form [formGroup]="changPasswordForm" class="forget-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control>
            <input type="password" nzSize="large" nz-input formControlName="password" placeholder="Your password" class="forget-form-button">
          <nz-form-explain *ngIf="changPasswordForm.get('password').dirty && changPasswordForm.get('password').errors">Please
            input your password!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <button nz-button class="forget-form-button" style="background-color:#FF4165; color: white" [disabled]="!changPasswordForm.valid">Change Password</button>
    </form>
  </div>
</div>

