<div nz-row nzType="flex" nzJustify="center" style="margin-top: 90px">
  <div nz-col>
    <img src="../../../assets/Logo_c_new.svg" alt="" width="80px">
  </div>
</div>
<div  nz-row nzType="flex" nzJustify="center" style="margin-top:2% ">
  <div nz-col align="center" nzSpan="12">

    <h5 align="center" style="margin-bottom:6%">CHECK YOUR INBOX</h5>
    <span style="margin-bottom:4% "> <i nz-icon type="check" theme="outline" style="color: greenyellow; height: 50px; width: 50px; font-size: 24px; font-weight: bold;"></i>
     <b>An email has been sent to your email -  {{param1}} please verify your email address.</b></span><br><br><br>

    <button nz-button class="forget-form-button" style="background-color:#FF4165; color: white" routerLink="/">Home</button>

  </div>
</div>

