<div class="container" style="margin-top: 1%">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4">
      <button nz-button nzType="primary" class="button-back" routerLink="/eventMainPage"><i nz-icon type="left"></i>Event Types</button>
    </div>
    <div class="col-md-8">
      <p class="p-main">Create New Event Type</p>
    </div>
  </div>
</div>
<hr/>
<div class="container" style="margin-top: 4%">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6">
      <nz-card title="Card title" style="align-content: center;height: 50%;">
            <div align="center">
              <img class="img-circle" src="../../../assets/group_people.png" height="80" width="80" />
              <h6>One-on-One</h6>
              <p>Allow invitees to schedule individual slots with you.</p><br />
              <button nz-button nzType="primary" class="button-submit" routerLink="/newEvent/create">Create&nbsp; &nbsp; &nbsp; &nbsp;<i nz-icon type="right"></i></button>
            </div>
           </nz-card>
          </div>
    <div class="col-lg-6 ">
      <nz-card style="align-content: center;height: 50%">
        <div align="center">
          <img class="img-circle" src="../../../assets/group_people.png" height="80" width="80"  />
          <h6>Group</h6>
          <p>Allow multiple invitees to schedule the same slot.<br />Useful for tours, webinars, classes, workshops, etc.</p>
          <button nz-button nzType="primary" class="button-submit" routerLink="/newEvent/create">Create&nbsp; &nbsp; &nbsp; &nbsp;<i nz-icon type="right"></i></button>
        </div>
       </nz-card>
    </div>
  </div>
</div>

