
.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
  color:#FF4165;
}

.login-form-button {
  width: 100%;
}
/*.gutter-box {
  background: #00A0E9;
  padding: 5px 0;
}*/
a{
  color:#FF4165;
  opacity: 100%;
}
a:link{
  color:#FF4165;
}
a:hover {
  color: hotpink;
  cursor: pointer;
  text-decoration: underline;
}

input:hover {
  box-shadow: 7px 5px 5px 1px #f3ebeb;
}
button:hover {
  box-shadow: 7px 5px 5px 1px #f3ebeb;
  border: none;
}
