<nz-spin nzTip="Loading..." [nzSpinning]="isSpinning" [nzSize]="'large'">
  <div nz-row nzType="flex" nzJustify="center" style="margin-top: 50px">
    <div nz-col>
      <img src="../../../assets/Logo_c_new.svg" alt="" width="80px">
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="center" style="margin-top:30px;margin-bottom: 30px ">
    <div nz-col [nzXs]="{ span: 22}" [nzMd]="{ span: 14}" [nzLg]="{ span: 14}">
      <form nz-form [formGroup]="availabilityForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-card>
          <div nz-col nzType="flex" nzJustify="center">
            <h5>Set your Times & availability</h5>
            <h6 align="center">Let Cloudmeetin know when you're typically available to<br> accept meetings.</h6>
          </div>
          <hr>
          <div nz-row>
            <p>Available Days</p>
            <nz-form-item>
              <nz-form-control>
                <nz-input-group>
                  <nz-select style="width: 100%" nzMode="multiple" nzPlaceHolder="Please select" [(ngModel)]="listOfDays"
                             formControlName="selectedOption">
                    <nz-option nzValue="0" nzLabel="Sunday"></nz-option>
                    <nz-option nzValue="1" nzLabel="Monday"></nz-option>
                    <nz-option nzValue="2" nzLabel="Tuesday"></nz-option>
                    <nz-option nzValue="3" nzLabel="Wednesday"></nz-option>
                    <nz-option nzValue="4" nzLabel="Thursday"></nz-option>
                    <nz-option nzValue="5" nzLabel="Friday"></nz-option>
                    <nz-option nzValue="6" nzLabel="Saturday"></nz-option>
                  </nz-select>
                </nz-input-group>
                <nz-form-explain *ngIf="availabilityForm.get('selectedOption').dirty && availabilityForm.get('selectedOption').errors">Please
                  select your available days!
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-row style="margin-top: 2%">
            <p>Available Hours</p>
            <div nz-col nzSpan="11" style="margin-right:8%">
              <nz-form-item>
                <nz-form-control>
                  <nz-input-group>
                    <nz-select style="width: 100%;" nzPlaceHolder="Start Time" [(ngModel)]='defaultStartTime' nzAllowClear
                               formControlName="inTime" (nzOpenChange)="checkTime()" [nzDisabled]="true">
                      <nz-option nzValue="00:00" nzLabel="12:00am"></nz-option>
                      <nz-option nzValue="01:00" nzLabel="01:00am"></nz-option>
                      <nz-option nzValue="02:00" nzLabel="02:00am"></nz-option>
                      <nz-option nzValue="03:00" nzLabel="03:00am"></nz-option>
                      <nz-option nzValue="04:00" nzLabel="04:00am"></nz-option>
                      <nz-option nzValue="05:00" nzLabel="05:00am"></nz-option>
                      <nz-option nzValue="06:00" nzLabel="06:00am"></nz-option>
                      <nz-option nzValue="07:00" nzLabel="07:00am"></nz-option>
                      <nz-option nzValue="08:00" nzLabel="08:00am"></nz-option>
                      <nz-option nzValue="09:00" nzLabel="09:00am"></nz-option>
                      <nz-option nzValue="10:00" nzLabel="10:00am"></nz-option>
                      <nz-option nzValue="11:00" nzLabel="11:00am"></nz-option>
                      <nz-option nzValue="12:00" nzLabel="12:00pm"></nz-option>
                      <nz-option nzValue="13:00" nzLabel="01:00pm"></nz-option>
                      <nz-option nzValue="14:00" nzLabel="02:00pm"></nz-option>
                      <nz-option nzValue="15:00" nzLabel="03:00pm"></nz-option>
                      <nz-option nzValue="16:00" nzLabel="04:00pm"></nz-option>
                      <nz-option nzValue="17:00" nzLabel="05:00pm"></nz-option>
                      <nz-option nzValue="18:00" nzLabel="06:00pm"></nz-option>
                      <nz-option nzValue="19:00" nzLabel="07:00pm"></nz-option>
                      <nz-option nzValue="20:00" nzLabel="08:00pm"></nz-option>
                      <nz-option nzValue="21:00" nzLabel="09:00pm"></nz-option>
                      <nz-option nzValue="22:00" nzLabel="10:00pm"></nz-option>
                      <nz-option nzValue="23:00" nzLabel="11:00pm"></nz-option>
                      <nz-option nzValue="24:00" nzLabel="12:00am"></nz-option>
                    </nz-select>
                  </nz-input-group>
                  <nz-form-explain *ngIf="availabilityForm.get('inTime').dirty && availabilityForm.get('inTime').errors">Please
                    select start time!
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="11">
              <nz-form-item>
                <nz-form-control>
                  <nz-input-group>
                    <nz-select style="width: 100%;" nzPlaceHolder="End Time" [(ngModel)]='defaultEndTime' nzAllowClear
                               formControlName="outTime" (nzOpenChange)="checkTime()" [nzDisabled]="true">
                      <nz-option nzValue="00:00" nzLabel="12:00am"></nz-option>
                      <nz-option nzValue="01:00" nzLabel="01:00am"></nz-option>
                      <nz-option nzValue="02:00" nzLabel="02:00am"></nz-option>
                      <nz-option nzValue="03:00" nzLabel="03:00am"></nz-option>
                      <nz-option nzValue="04:00" nzLabel="04:00am"></nz-option>
                      <nz-option nzValue="05:00" nzLabel="05:00am"></nz-option>
                      <nz-option nzValue="06:00" nzLabel="06:00am"></nz-option>
                      <nz-option nzValue="07:00" nzLabel="07:00am"></nz-option>
                      <nz-option nzValue="08:00" nzLabel="08:00am"></nz-option>
                      <nz-option nzValue="09:00" nzLabel="09:00am"></nz-option>
                      <nz-option nzValue="10:00" nzLabel="10:00am"></nz-option>
                      <nz-option nzValue="11:00" nzLabel="11:00am"></nz-option>
                      <nz-option nzValue="12:00" nzLabel="12:00pm"></nz-option>
                      <nz-option nzValue="13:00" nzLabel="01:00pm"></nz-option>
                      <nz-option nzValue="14:00" nzLabel="02:00pm"></nz-option>
                      <nz-option nzValue="15:00" nzLabel="03:00pm"></nz-option>
                      <nz-option nzValue="16:00" nzLabel="04:00pm"></nz-option>
                      <nz-option nzValue="17:00" nzLabel="05:00pm"></nz-option>
                      <nz-option nzValue="18:00" nzLabel="06:00pm"></nz-option>
                      <nz-option nzValue="19:00" nzLabel="07:00pm"></nz-option>
                      <nz-option nzValue="20:00" nzLabel="08:00pm"></nz-option>
                      <nz-option nzValue="21:00" nzLabel="09:00pm"></nz-option>
                      <nz-option nzValue="22:00" nzLabel="10:00pm"></nz-option>
                      <nz-option nzValue="23:00" nzLabel="11:00pm"></nz-option>
                      <nz-option nzValue="24:00" nzLabel="12:00am"></nz-option>
                    </nz-select>
                  </nz-input-group>
                  <nz-form-explain *ngIf="availabilityForm.get('outTime').dirty && availabilityForm.get('outTime').errors">Please
                    select end time!
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row style="margin-top: 2%">
            <p align="center">Don't worry! You'll be able to further customize your availability later on.</p>
          </div>

        </nz-card>
        <div nz-row nzAlign="middle">
          <div nz-col nzSpan="8">
          </div>
          <div nz-col nzSpan="8">
            <nz-form-control>
              <button nz-button class="primary" type="submit" [disabled]="!availabilityForm.valid || !time">Continue</button>
            </nz-form-control>
          </div>
        </div>
      </form>
    </div>
  </div>
</nz-spin>

