<div class="container">
  <div class="row">
    <div class="col-lg-8" style="margin: auto">
      <form [formGroup]="form">
      <mat-card class="example-card">
        <mat-card-header class="card">
          <div mat-card-avatar class="example-header-image"></div>
          <br>
          <mat-card-title>Set your availability</mat-card-title>
          <br>
          <mat-card-subtitle style="font-size: 16px">Let Calendly know when you’re typically available to accept meetings.</mat-card-subtitle>
          <br>
          <div class="col-lg-3">
            <img mat-card-image src="http://src.onlinedown.net/new_img/apk_logo/2016/0411/257251_1460343696_0041.png" alt="Photo of a Shiba Inu" width="20" style="margin: auto;">
          </div>
        </mat-card-header>
        <br>
        <mat-card-content class="container">
          <h6>Available Hours</h6>
          <div class="col-lg-8">
            <div class="form-group col-lg-8" >
              <select class="form-control" formControlName="inTime">
                <option value="00:00">12:00am</option>
                <option value="01:00">01:00am</option>
                <option value="02:00">02:00am</option>
                <option value="03:00">03:00am</option>
                <option value="04:00">04:00am</option>
                <option value="05:00">05:00am</option>
                <option value="06:00">06:00am</option>
                <option value="07:00">07:00am</option>
                <option value="08:00">08:00am</option>
                <option value="09:00">09:00am</option>
                <option value="10:00">10:00am</option>
                <option value="11:00">11:00am</option>
                <option value="12:00">12:00pm</option>
                <option value="13:00">01:00pm</option>
                <option value="14:00">02:00pm</option>
                <option value="15:00">03:00pm</option>
                <option value="16:00">04:00pm</option>
                <option value="17:00">05:00pm</option>
                <option value="18:00">06:00pm</option>
                <option value="19:00">07:00pm</option>
                <option value="20:00">08:00pm</option>
                <option value="21:00">09:00pm</option>
                <option value="22:00">10:00pm</option>
                <option value="23:00">11:00pm</option>
              </select>
            </div>
            <div class="form-group col-lg-8" >
              <select class="form-control" id="sel1" formControlName="outTime">
                <option value="00:00">12:00am</option>
                <option value="01:00">01:00am</option>
                <option value="02:00">02:00am</option>
                <option value="03:00">03:00am</option>
                <option value="04:00">04:00am</option>
                <option value="05:00">05:00am</option>
                <option value="06:00">06:00am</option>
                <option value="07:00">07:00am</option>
                <option value="08:00">08:00am</option>
                <option value="09:00">09:00am</option>
                <option value="10:00">10:00am</option>
                <option value="11:00">11:00am</option>
                <option value="12:00">12:00pm</option>
                <option value="13:00">01:00pm</option>
                <option value="14:00">02:00pm</option>
                <option value="15:00">03:00pm</option>
                <option value="16:00">04:00pm</option>
                <option value="17:00">05:00pm</option>
                <option value="18:00">06:00pm</option>
                <option value="19:00">07:00pm</option>
                <option value="20:00">08:00pm</option>
                <option value="21:00">09:00pm</option>
                <option value="22:00">10:00pm</option>
                <option value="23:00">11:00pm</option>
              </select>
            </div>
          </div>
          <h6>Available Days</h6>
          <div class="col-lg-8">
            <table class="table table-bordered">
              <tbody>
              <tr>
                <td>
                  <label class="form-check-label text-center">
                    <input type="checkbox" class="form-check-input" name="optradio" (change)="onChange('0', $event.target.checked)"><br>Sunday
                  </label>
                </td>
                <td>
                  <label class="form-check-label text-center">
                    <input type="checkbox" class="form-check-input" name="optradio" (change)="onChange('1', $event.target.checked)"><br>Mondays
                  </label>
                </td>
                <td>
                  <label class="form-check-label text-center">
                    <input type="checkbox" class="form-check-input" name="optradio" (change)="onChange('2', $event.target.checked)"><br>Tuesdays
                  </label>
                </td>
                <td>
                  <label class="form-check-label text-center">
                    <input type="checkbox" class="form-check-input" name="optradio" (change)="onChange('3', $event.target.checked)"><br>Wednesdays
                  </label>
                </td>
                <td>
                  <label class="form-check-label text-center">
                    <input type="checkbox" class="form-check-input" name="optradio" (change)="onChange('4', $event.target.checked)"> <br>Thursdays
                  </label>
                </td>
                <td>
                  <label class="form-check-label text-center">
                    <input type="checkbox" class="form-check-input" name="optradio" (change)="onChange('5', $event.target.checked)"> <br>Fridays
                  </label>
                </td>
                <td>
                  <label class="form-check-label text-center">
                    <input type="checkbox" class="form-check-input" name="optradio" (change)="onChange('6', $event.target.checked)"><br>Saturdays
                  </label>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <p style="text-align: center; color: #949AA3; margin: 10px"> Don’t worry! You’ll be able to further customize your availability later on.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="updateConfiguration()" [disabled]="form.invalid">Continue</button>
          <button mat-button (click)="setUpLater()">Set up later</button>
        </mat-card-actions>
      </mat-card>
      </form>
    </div>
  </div>
</div>
