<div style="width: 100%">
  <header style="line-height: 64px;  border: 1px solid #707070;">
  <!-- <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="5" [nzXl]="5" [nzXXl]="4">
     <a id="logo" href>
       <img alt="logo" src="../../assets/logo.svg" width="32" height="50">
     </a>
   </div>-->
    <div nz-row>
      <div nz-col [nzSpan]="18" [nzPush]="6">
        <ul nz-menu [nzTheme]="'light'" [nzMode]="'horizontal'" style="float: right">
          <li nz-menu-item>
            <h4>Features</h4>
          </li>
          <li nz-menu-item>
            <h4>Pricing</h4>
          </li>
          <li nz-menu-item>
            <h4>Integrations</h4>
          </li><li nz-menu-item>
          <h4>Solutions</h4>
        </li><li nz-menu-item>
          <h4>Sign Up</h4>
        </li>
          <li nz-menu-item>
          <h4>Log In</h4>
        </li>
        </ul>
      </div>
      <div nz-col [nzSpan]="6" [nzPull]="18">
        <ul nz-menu [nzTheme]="'light'" [nzMode]="'horizontal'">
          <li nz-menu-item>
            <h4>CloudMeetIn</h4>
          </li>
          <li nz-menu-item>
            <h4>Home</h4>
          </li>
        </ul>
      </div>
    </div>
</header>
</div>


