<div class="container">
  <div class="row" style="margin-top: 3%; margin-left: 2%;">
    <div class="col-lg-3">
      <button mat-stroked-button color="primary"  style=" color:  #00A2FF; border-radius: 0 ; border-color:#00A2FF; padding: 5px; width: 140px;height: 45px; "><mat-icon>keyboard_arrow_left</mat-icon> &nbsp; &nbsp; &nbsp; Event Types</button>
    </div>
    <div class="col-lg-6">
      <p style="font-size: 22px; margin-left: 20%">Create Team Event Type</p>
      <p style="font-size: 15px; margin-left: 35%">CA Team</p>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
<hr/>
<p style="font-size: 22px; margin-left:38%">What type of meeting is this?</p>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="http://placekitten.com/g/200/200" height="100" width="100" /><br/>
      <b>Round Robin</b>
      <p>Cycle meetings between multiple team members     .</p>
      <button mat-stroked-button color="primary" style="background-color: #00A2FF; color: white; border-radius: 0;height: 45px; ">Choose Round Robin</button>
    </div>
    <div class="col-lg-4" style="border-left: 1px solid grey; border-right: 1px solid grey;">
      <div style="margin-left: 10%; margin-right: 10%;">
        <img class="img-circle" src="http://placekitten.com/g/200/200" height="100" width="100" /><br/>
        <b>Collective</b>
        <p>Schedule meetings when all selected team members are available.</p>
        <button mat-stroked-button color="primary" style="background-color: #00A2FF; color: white; border-radius: 0;height: 45px; ">Choose Collective</button>
      </div>


    </div>
    <div class="col-lg-4">
      <img class="img-circle" src="http://placekitten.com/g/200/200" height="100" width="100" /><br/>
      <b>Group</b>
      <p>Allow multiple invitees to schedule and attend the same meeting.</p>
      <button mat-stroked-button color="primary" style="background-color: #00A2FF; color: white; border-radius: 0;height: 45px; ">Choose Group</button>
    </div>
  </div>
</div>
