<div nz-row >
  <nz-spin nzTip="Loading..." [nzSpinning]="isSpinning" [nzSize]="'large'">
    <div nz-row nzType="flex" nzJustify="center" style="margin-top:30px;margin-bottom: 30px ">
      <div nz-col  [nzXs]="{ span:22}" [nzMd]="{ span: 18}" [nzLg]="{ span: 18}">
        <div nz-row nzJustify="center">
          <div nz-col [nzXs]="{ span:22}" [nzMd]="{ span: 12}" [nzLg]="{ span: 12}">
            <span></span>
          </div>

          <div nz-col [nzXs]="{ span:22}" [nzMd]="{ span: 12}" [nzLg]="{ span: 12}" align="end">
            <form nz-form [nzLayout]="'inline'" [formGroup]="validateDatePicker">
              <div nz-form-item>
                <div nz-form-control>
                  <span style="color: #707070;font-size: medium;">All Upcoming&nbsp;&nbsp;<!--&nbsp;&nbsp;<i nz-icon type="down" theme="outline"></i>--></span>
                  <nz-range-picker
                    formControlName="dateRange"
                    [nzRanges]="ranges1"
                    nzFormat="yyyy/MM/dd"
                    [(ngModel)]="dateRange"
                    (ngModelChange)="onChange($event)"
                  ></nz-range-picker><!--(ngModelChange)="onChange($event)"-->
                </div>
              </div>
            </form>
          </div>
        </div>


        <nz-tabset [nzSize]="size"  >
          <nz-tab [nzTitle]="titleTemplate">
            <ng-template #titleTemplate>
              CloudMeetIn
            </ng-template>

            <!--<div nz-row>
              <div nz-col nzSpan="20">
                <div *ngIf="eventListTypeCheck" style="margin-left: 15px">
                  <div nz-row>
                    <div nz-col [nzXs]="{ span: 20,offset:2}" [nzMd]="{ span: 2}" [nzLg]="{ span: 2}"  *ngFor="let event_details of EventTypeSlotDashboardForShow;let i = index">
                      <nz-dropdown>
                        <a nz-dropdown>
                          <div class="row" style="margin-top: 5%">
                            <div class="custom-circle" [ngStyle]="{'background-color': event_details.color}"></div><p class="fontStyle">&nbsp;&nbsp;{{event_details.name}}<b class="fontStyle"><i nz-icon type="down" class="custom-icon"  theme="outline"></i></b></p>
                          </div>
                        </a>
                        <ul nz-menu nzSelectable style="margin-top: 12px">
                          <li nz-menu-item (click)="editEvent(event_details.event_id,i)">
                            <a>&nbsp;Edit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../../assets/edit.png" style="width: 15px;height: 12px" ></a>
                          </li>
                          <hr>
                          <li nz-menu-item (click)="copyEvent(event_details.link)" >
                            <a >&nbsp;Copy&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../../assets/copy-document.png" style="width: 15px;height: 12px" ></a>
                          </li>
                          <hr>
                          <li nz-menu-item >
                            <a href="mailto:?subject=My CloudMeetIn Scheduling Page Link&body=You can easily see my real-time availability and schedule time with me at http://localhost:4200/{{userId}}/{{event_details.link}}">&nbsp;Email&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../../assets/mail.png" style="width: 15px;height: 12px" ></a>
                          </li>
                        </ul>
                      </nz-dropdown>
                    </div>
                    <div nz-col [nzXs]="{ span: 20,offset:2}" [nzMd]="{ span: 3}" [nzLg]="{ span: 3}" *ngIf="eventListTypeCheck">
                      <span routerLink="/eventMainPage" class="fontStyle" style="cursor: pointer; display: inline">more<i nz-icon type="right"  class="custom-icon" theme="outline"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div nz-col nzSpan="4" style="margin-top: 10px">
                <button nz-button nzSize="small" nzType="primary" class="button-submit" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample"><i class="fa fa-filter"></i>&nbsp;&nbsp;Filter</button>
              </div>
            </div>-->


            <div nz-row >
              <div nz-col [nzXs]="{ span:4}" [nzMd]="{ span: 4}" [nzLg]="{ span: 4}" *ngFor="let event_details of EventTypeSlotDashboardForShow;let i = index" >
                <nz-dropdown>
                  <a nz-dropdown style="font-size:calc(0.50em + 0.7vmin);cursor: default;">
                    <div class="custom-circle" [ngStyle]="{'background-color': event_details.color}"></div>&nbsp;&nbsp;{{event_details.name}}<!--<i nz-icon type="down" class="custom-icon"  theme="outline"></i>-->
                  </a>
                 <!-- <ul nz-menu nzSelectable style="margin-top: 12px">
                    <li nz-menu-item (click)="editEvent(event_details.event_id,i)">
                      <a>&nbsp;Edit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../../assets/edit.png" style="width: 15px;height: 12px" ></a>
                    </li>
                    <hr>
                    <li nz-menu-item (click)="copyEvent(event_details.link)" >
                      <a >&nbsp;Copy&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../../assets/copy-document.png" style="width: 15px;height: 12px" ></a>
                    </li>
                    <hr>
                    <li nz-menu-item >
                      <a href="mailto:?subject=My CloudMeetIn Scheduling Page Link&body=You can easily see my real-time availability and schedule time with me at http://localhost:4200/{{userId}}/{{event_details.link}}">&nbsp;Email&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../../assets/mail.png" style="width: 15px;height: 12px" ></a>
                    </li>
                  </ul>-->
                </nz-dropdown>
              </div>
              <!--<div class="col bg"> <span routerLink="/eventMainPage" class="fontStyle" style="cursor: pointer; display: inline">more<i nz-icon type="right"  class="custom-icon" theme="outline"></i></span></div>-->
              <div nz-col [nzXs]="{ span:22, offset:1}" [nzMd]="{ span: 6, offset:6}" [nzLg]="{ span: 6, offset:6}">
                <button nz-button nzSize="small" nzType="primary" class="button-submit" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample"><i class="fa fa-filter"></i>&nbsp;&nbsp;Filter</button>
              </div>
            </div>
            <div class="collapse col-lg-12" id="collapseExample" style="padding-left: 0">
              <p style="margin-top: 10px; padding: 0">Showing the events matching</p>
              <div style="display: flex">
                <div class="col-lg-2" style="padding-left: 0">
                  <p class="remove-padding">Events Type</p>
                  <div style="display: flex">
                    <nz-dropdown>
                      <a nz-dropdown>
                    <span class="clBlue">
                    All Event Types
                    </span>
                        <img src="../../../assets/down_arrow.svg" alt="" height="12" width="12" style="margin-left: 10px;margin-bottom: 5px; cursor: pointer" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      </a>
                      <ul nz-menu nzSelectable>
                        <li nz-menu-item >
                          <div class="col-lg-12" style="font-size: 13px">
                            <br>
                            <small style="font-family: 'Roboto-Regular', sans-serif; color: #FF4165;" nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()" [nzIndeterminate]="indeterminate">Select all / Clear</small> <br><br>
                            <div>
                              <p style="font-family: 'Roboto-Regular', sans-serif; color: #707070; font-size: small">My Events</p>
                              <br>
                            </div>
                            <div nz-row>
                              <nz-checkbox-group nz-col nzSpan="4" [(ngModel)]="checkOptionsOne" (ngModelChange)="updateSingleChecked()">
                                <br>
                              </nz-checkbox-group>
                              <br>
                              <button nz-button nzSize="small" class="login-form-button" style="background-color:#FF4165; color: white;float: right;margin-top: 10px" (click)="filterByEvent()">OK</button>
                            </div>
                          </div>
                        </li>
                        <li nz-menu-item>

                        </li>
                      </ul>
                    </nz-dropdown>
                  </div>
                </div>
                <div class="col-lg-2" style="padding-left: 0">
                  <p class="remove-padding">Status</p>
                  <div style="display: flex">
                    <nz-dropdown >
                      <a nz-dropdown>
                    <span class="clBlue">
                    Active Events
                    </span>
                        <img src="../../../assets/down_arrow.svg" alt="" height="12" width="12" style="margin-left: 10px;margin-bottom: 5px; cursor: pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      </a>
                      <ul nz-menu nzSelectable >
                        <li nz-menu-item >
                          <div class="col-lg-12" style="font-size: 13px">
                            <br>
                            <small style="font-family: 'Roboto-Regular', sans-serif; color: #FF4165;" nz-checkbox [(ngModel)]="allCheckedEvent" (ngModelChange)="updateEventAllChecked()" [nzIndeterminate]="indeterminateEvent">Select all / Clear</small> <br>
                            <br>
                            <br>
                            <div nz-row>
                              <nz-checkbox-group nz-col nzSpan="4" [(ngModel)]="checkOptionsOneEvent" (ngModelChange)="updateEventSingleChecked()">
                                <br>
                              </nz-checkbox-group>
                              <br>
                              <button nz-button nzSize="small" class="login-form-button" style="background-color:#FF4165; color: white;float: right;margin-top: 10px" (click)="filterByActive()">OK</button>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </nz-dropdown>
                  </div>
                </div>
                <div class="col-lg-2" style="padding-left: 0">
                  <p class="remove-padding">Meeting</p>
                  <div style="display: flex">
                    <nz-dropdown>
                      <a nz-dropdown>
                    <span class="clBlue">
                   Meeting Filters
                    </span>
                        <img src="../../../assets/down_arrow.svg" alt="" height="12" width="12" style="margin-left: 10px;margin-bottom: 5px; cursor: pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      </a>
                      <ul nz-menu nzSelectable>
                        <li nz-menu-item >
                          <div class="col-lg-12" style="font-size: 13px">
                            <br>
                            <small style="font-family: 'Roboto-Regular', sans-serif; color: #FF4165;" nz-checkbox [(ngModel)]="allCheckedMeeting" (ngModelChange)="updateAllCheckedMeeting()" [nzIndeterminate]="indeterminaMeeting">Select all / Clear</small> <br>
                            <br>
                            <br>
                            <div nz-row>
                              <nz-checkbox-group nz-col nzSpan="4" [(ngModel)]="checkOptionsOnMeeting" (ngModelChange)="updateSingleCheckedMeeting()">
                                <br>
                              </nz-checkbox-group>
                              <br>
                              <button nz-button nzSize="small" class="login-form-button" style="background-color:#FF4165; color: white;float: right;margin-top: 10px" (click)="filterByDay()">OK</button>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </nz-dropdown>
                  </div>
                </div>
                <button nz-button nzSize="small" class="login-form-button" style="background-color:#FF4165; color: white;float: right;margin-top: 10px" (click)="resetFilter()" *ngIf="showReset">Reset</button>
              </div>
            </div>
          </nz-tab>
          <nz-tab [nzTitle]="titleTemplate1" *ngIf="teamCheck">
            <ng-template #titleTemplate1 >
              Teams
            </ng-template>
          </nz-tab>
          <nz-tab [nzTitle]="titleTemplate2" *ngIf="userCheck">
            <ng-template #titleTemplate2>
              Users
            </ng-template>
          </nz-tab>
        </nz-tabset>
 <!--       <ng-template #extraTemplate>
          <div class="row" style="margin-right:40px; float: right; width: 80%;display:inline;">

            <form nz-form [nzLayout]="'inline'" [formGroup]="validateDatePicker">
              <div nz-form-item>
                <div nz-form-control>
                  <span style="color: #707070;font-size: medium;">All Upcoming&nbsp;&nbsp;&lt;!&ndash;&nbsp;&nbsp;<i nz-icon type="down" theme="outline"></i>&ndash;&gt;</span>
                  <nz-range-picker
                    formControlName="dateRange"
                    [nzRanges]="ranges1"
                    nzFormat="yyyy/MM/dd"
                    [(ngModel)]="dateRange"
                    (ngModelChange)="onChange($event)"
                  ></nz-range-picker>&lt;!&ndash;(ngModelChange)="onChange($event)"&ndash;&gt;
                </div>
              </div>
            </form>
          </div>
        </ng-template>-->
        <!--<ng-template #extraTemplate>
          <div class="row" style="margin-right: 5px">
            <p style="color: #707070;font-size: medium;">All Upcoming&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <form nz-form [nzLayout]="'inline'" [formGroup]="validateDatePicker">
              <div nz-form-item>
                <div nz-form-control>
                  <nz-range-picker
                    formControlName="dateRange"
                    [nzRanges]="ranges1"
                    nzFormat="yyyy/MM/dd"
                    [(ngModel)]="dateRange"
                    (ngModelChange)="onChange($event)"
                  ></nz-range-picker>
                </div>
              </div>
            </form>
          </div>
        </ng-template>-->
      </div>
    </div>
    <hr class="style-one">
    <div *ngIf="recordExists">
      <div nz-row nzType="flex" nzJustify="center" style="margin-bottom: 10px">
        <div nz-col nzSpan="18">
          <p style="color: #707070; font-family: 'Roboto-Medium', sans-serif; font-size: small">Displaying {{displaySize}} of {{totalSize}} Events</p>
        </div>
      </div>
      <div *ngFor="let item of meetingListMapSorted|keyvalue;">
        <div nz-row nzType="flex" nzJustify="center">
          <div nz-col nzSpan="18">
            <p style="color: #707070; /*font-family: 'Roboto-Medium', sans-serif; font-size: medium;*/ text-align: center;margin-bottom: -10px;margin-top: 5px" class="globalFontNormalContent">{{item.key | date :'EEEE , dd-MM-yyyy'}}</p>
          </div>
        </div>
        <br>
        <div nz-row nzType="flex" nzJustify="center" *ngFor="let data of item.value; let selectIndex = index;">
          <div nz-col nzSpan="18" [nzXs]="{ span: 24}" [nzMd]="{ span: 18}" [nzLg]="{ span: 18}"    *ngIf="data.cancel !== allEvent">
            <nz-collapse [nzBordered]="false" class="custom-card" >
              <nz-collapse-panel [nzHeader]="titleTemplateHeader">
                <div nz-row nzAlign="middle" nzJustify="center">
                  <nz-col  [nzXs]="{ span: 24}" [nzMd]="{ span: 14, offset:9}" [nzLg]="{ span: 14, offset:9}"  align="start">
                    <hr/>
                  </nz-col>
                </div>
                <div nz-row nzAlign="middle" nzJustify="center">
                  <nz-col  [nzXs]="{ span: 24}" [nzMd]="{ span: 6, offset:1}" [nzLg]="{ span: 6, offset:1}" align="start" >
                    <span class="crDate globalFontNormalContent">Created Date - {{data.createdDate | date}}</span>
                  </nz-col>
                  <nz-col  [nzXs]="{ span: 24}" [nzMd]="{ span: 8, offset:2}" [nzLg]="{ span: 8, offset:2}" align="start">
                    <div *ngIf="data.showCard">
                      <!--<span class="marginTop"><h5 class="globalFontNormalContent">Email <i class=" fa fa-pencil" (click)="visibleContent(item.key,selectIndex)"></i></h5></span>-->
                      <span class="marginTop"><h5 class="globalFontNormalContent">Email <i class=" fa fa-pencil" ></i></h5></span>
                      <span class="globalFontNormalContent">{{data.schedulerEmail}}</span>
                    </div>
                    <div *ngIf="!data.showCard">
                      <form nz-form [formGroup]="updateEmail">
                        <nz-form-item>
                          <nz-form-control>
                            <input type="email" nz-input id="nickname" value="{{data.schedulerEmail}}" style="width: 70%" formControlName="email" >
                            <nz-form-explain *ngIf="updateEmail.get('email')?.dirty && updateEmail.get('email')?.errors">Please input your email!</nz-form-explain>
                          </nz-form-control>
                        </nz-form-item>
                        <span>
                          A notification will be sent to the updated email address.
                          <i nz-icon nz-tooltip nzTitle="What do you want other to call you" type="question-circle" theme="outline"></i>
                          </span>
                        <br>
                        <button nz-button nzSize="small" class="login-form-button" style="background-color:#FF4165; color: white;" (click)="updateContent(item.key,selectIndex, data)"><span>Update</span> </button> &nbsp;&nbsp;&nbsp;&nbsp;
                        <button nz-button nzSize="small" class="login-form-button" style="border-color:#707070; color: #707070;" (click)="inVisibleContent(item.key,selectIndex)" ><span> Cancel </span></button>
                      </form>
                    </div>
                  </nz-col>
                  <nz-col  [nzXs]="{ span: 24}" [nzMd]="{ span: 6}" [nzLg]="{ span: 6}" align="start" >
                    <span class="marginTop"><h5 class="globalFontNormalContent">Invitee Time Zone </h5></span>
                    <span class="globalFontNormalContent">{{data.timeZone}}</span>
                  </nz-col>
                </div>
                <div nz-row style="margin-top:2%" nzAlign="middle" nzJustify="center" *ngIf="data.reschedulerName" >
                  <nz-col nzSpan="20" nzOffset="2" align="center">
                    <a class="globalFontNormalContent"> Reschedule by {{data.reschedulerName}} </a> &nbsp;: <span style="color: #FF4165"  class="globalFontNormalContent">{{data.rescheduleReason}}</span>
                  </nz-col>
                </div>
                <div nz-row style="margin-top: 5%" nzAlign="middle" nzJustify="center">
                  <nz-col nzSpan="24" align="center" *ngIf="!data.cancel">
                    <button nz-button nzSize="small" class="login-form-button" style="background-color:#FF4165; color: white; width: 120px" (click)="onRescheduleMeeting(data)"><i class="fa fa-refresh"></i> &nbsp;&nbsp;&nbsp;<span>Reschedule</span> </button> &nbsp;&nbsp;&nbsp;&nbsp;
                    <button nz-button nzSize="small" class="login-form-button" style="border-color:#707070; color: #707070; width: 120px" (click)="onCancelMeeting(data,item.key,selectIndex)"><i nz-icon type="close" theme="outline"></i><span> Cancel </span></button>
                  </nz-col>
                </div>
                <ng-template #titleTemplateHeader>
                  <div nz-row nzAlign="middle" nzJustify="center">
                    <div nz-col [nzXs]="{ span: 24}" [nzMd]="{ span: 8}" [nzLg]="{ span: 8}" style="margin-top:20px ">
                      <svg width="40" height="40" style="margin-top:2px; float: left; display: inline-block">
                        <circle cx="15" cy="15" r="13" fill="#DFC12D" *ngIf="data.eventType == '15min'"></circle>
                        <circle cx="15" cy="15" r="13" fill="blue" *ngIf="data.eventType == '30min'"></circle>
                        <circle cx="15" cy="15" r="13" fill="red" *ngIf="data.eventType == '60min'"></circle>
                        <circle cx="15" cy="15" r="13" fill="#36FF0E" *ngIf="data.eventType == '45min'"></circle>
                      </svg><span>{{data.meetingTime  | date:'h:mm a'}} - {{data.meetingEndTime  | date:'h:mm a'}}</span> <br>
                      <!-- </div>
                       <div nz-col nzSpan="7" style="margin-top:15px;">-->
                      <span style="float: left; display: inline" >
                    Event Type <a style="color: #707070" class="globalFontNormalContent" >{{ data.eventType}} {{event}}</a></span>
                    </div>
                    <div nz-col align="start"  [nzXs]="{ span: 24}"  [nzMd]="{ span: 16}" [nzLg]="{ span: 16}" style="margin-top: 13px" *ngIf="!data.cancel">
                      <a style="color: #FF4165;margin-left:12%;"> <b class="globalFontNormalContent">{{data.schedulerName}}</b> </a> &nbsp;<span class="globalFontNormalContent">with you </span><br>
                    </div>
                    <div nz-col align="start" [nzXs]="{ span: 24}" [nzMd]="{ span: 14,offset:2}" [nzLg]="{ span: 14,offset:2}" style="margin-top: 13px" *ngIf="data.cancel">
                      <s><a style="color: #FF4165; " class="globalFontNormalContent"> <b>{{data.schedulerName}}</b> </a> &nbsp;<span class="globalFontNormalContent">with you</span>  <br></s>
                      <div>
                        <p style="color: #FF4165;" class="globalFontNormalContent">Cancelled by {{data.cancelBy}}: <span style="color: #4D5055;" class="globalFontNormalContent"> &nbsp;&nbsp;"{{data.cancelMessage}}"</span> </p>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </nz-collapse-panel>
            </nz-collapse>
          </div>
        </div>
      </div>
      <div nz-row nzType="flex" nzJustify="center" style="margin-top:30px;margin-bottom: 30px " >
        <h6 class="globalFontNormalContent">You've reached the end of the list.</h6>
      </div>
    </div>
    <div nz-row nzType="flex" nzJustify="center" *ngIf="!recordExists" >
      <div  nz-col  [nzXs]="{ span: 20, offset:2}" [nzMd]="{ span: 18}" [nzLg]="{ span: 18}">
        <div style="text-align: center;margin-top: 15%">
          <p class="centerText">You have no upcoming events yet.</p>
          <p class="centerText">As events are scheduled with you, they'll appear here.</p>
        <!--  <p class="centerTextSmall">Need tips? Check out our <span style="color: #FF4165;cursor: pointer">Knowledge base</span></p>-->
        </div>
      </div>
    </div>
  </nz-spin>
</div>



<!--<div nz-row [@slideInLeft]="{ value: slideInLeft, params: { timing: myTiming || 0.7, delay: myDelay || 0 } }">
  <div nz-row nzType="flex" nzJustify="center" style="margin-top:30px;margin-bottom: 30px ">
    <div nz-col nzSpan="18">
      <nz-tabset [nzSize]="size" [nzTabBarExtraContent]="extraTemplate" >
        <nz-tab [nzTitle]="titleTemplate">
          <ng-template #titleTemplate>
            Cloudmeetin
          </ng-template>

          <div nz-row>
            <div nz-col nzSpan="20">
              <div *ngIf="eventListTypeCheck" style="margin-left: 15px">
                <div nz-row>
                  <div nz-col nzSpan="2" *ngFor="let event_details of EventTypeSlotDashboardForShow;let i = index">
                    <nz-dropdown>
                      <a nz-dropdown>
                        <div class="row" >
                          <div class="custom-circle" [ngStyle]="{'background-color': event_details.color}"></div><p class="fontStyle">&nbsp;&nbsp;{{event_details.name}}<b class="fontStyle"><i nz-icon type="down" class="custom-icon"  theme="outline"></i></b></p>
                        </div>
                      </a>
                      <ul nz-menu nzSelectable style="margin-top: 12px">
                        <li nz-menu-item (click)="editEvent(event_details.event_id,i)">
                          <a>&nbsp;Edit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../../assets/edit.png" style="width: 15px;height: 12px" ></a>
                        </li>
                        <hr>
                        <li nz-menu-item (click)="copyEvent(event_details.link)" >
                          <a >&nbsp;Copy&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../../assets/copy-document.png" style="width: 15px;height: 12px" ></a>
                        </li>
                        <hr>
                        <li nz-menu-item >
                          <a href="mailto:?subject=My CloudMeetIn Scheduling Page Link&body=You can easily see my real-time availability and schedule time with me at http://localhost:4200/{{userId}}/{{event_details.link}}">&nbsp;Email&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../../assets/mail.png" style="width: 15px;height: 12px" ></a>
                        </li>
                      </ul>
                    </nz-dropdown>
                  </div>
                  <div nz-col nzSpan="3" *ngIf="eventListTypeCheck">
                    <p routerLink="/eventMainPage" class="fontStyle" style="cursor: pointer">&nbsp;&nbsp;more<i nz-icon type="right"  class="custom-icon" theme="outline"></i></p>
                  </div>
                </div>
              </div>
            </div>
            <div nz-col nzSpan="4" style="margin-top: 5px">
              <button nz-button nzSize="small" nzType="primary" class="button-submit" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample"><i class="fa fa-filter"></i>&nbsp;&nbsp;Filter</button>
            </div>
          </div>
          <div class="collapse col-lg-12" id="collapseExample" style="padding-left: 0">
            <p style="margin-top: 10px; padding: 0">Show me events matching</p>
            <div style="display: flex">
              <div class="col-lg-2" style="padding-left: 0">
                <p class="remove-padding">Events Type</p>
                <div style="display: flex">
                  <nz-dropdown>
                    <a nz-dropdown>
                    <span class="clBlue">
                    All Event Types
                    </span>
                      <img src="../../../assets/down_arrow.svg" alt="" height="12" width="12" style="margin-left: 10px;margin-bottom: 5px; cursor: pointer" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>
                    <ul nz-menu nzSelectable>
                      <li nz-menu-item >
                        <div class="col-lg-12" style="font-size: 13px">
                          <nz-input-group [nzSuffix]="suffixIconSearch">
                            <input type="text" nz-input placeholder="Search">
                          </nz-input-group>
                          <ng-template #suffixIconSearch>
                            <i nz-icon type="search"></i>
                          </ng-template>
                          <br>
                          <small style="font-family: 'Roboto-Regular', sans-serif; color: #FF4165;" nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()" [nzIndeterminate]="indeterminate">Select all / Clear</small> <br><br>
                          <div>
                            <p style="font-family: 'Roboto-Regular', sans-serif; color: #707070; font-size: small">My Events</p>
                            <br>
                          </div>
                          <div nz-row>
                            <nz-checkbox-group nz-col nzSpan="4" [(ngModel)]="checkOptionsOne" (ngModelChange)="updateSingleChecked()">
                              <br>
                            </nz-checkbox-group>
                            <br>
                            <button nz-button nzSize="small" class="login-form-button" style="background-color:#FF4165; color: white;float: right;margin-top: 10px" (click)="filterByEvent()">OK</button>
                          </div>
                        </div>
                      </li>
                      <li nz-menu-item>

                      </li>
                    </ul>
                  </nz-dropdown>
                </div>
              </div>
              <div class="col-lg-2" style="padding-left: 0">
                <p class="remove-padding">Status</p>
                <div style="display: flex">
                  <nz-dropdown >
                    <a nz-dropdown>
                    <span class="clBlue">
                    Active Events
                    </span>
                      <img src="../../../assets/down_arrow.svg" alt="" height="12" width="12" style="margin-left: 10px;margin-bottom: 5px; cursor: pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>
                    <ul nz-menu nzSelectable >
                      <li nz-menu-item >
                        <div class="col-lg-12" style="font-size: 13px">
                          <br>
                          <small style="font-family: 'Roboto-Regular', sans-serif; color: #FF4165;" nz-checkbox [(ngModel)]="allCheckedEvent" (ngModelChange)="updateEventAllChecked()" [nzIndeterminate]="indeterminateEvent">Select all / Clear</small> <br>
                          <br>
                          <br>
                          <div nz-row>
                            <nz-checkbox-group nz-col nzSpan="4" [(ngModel)]="checkOptionsOneEvent" (ngModelChange)="updateEventSingleChecked()">
                              <br>
                            </nz-checkbox-group>
                            <br>
                            <button nz-button nzSize="small" class="login-form-button" style="background-color:#FF4165; color: white;float: right;margin-top: 10px" (click)="filterByActive()">OK</button>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </nz-dropdown>
                </div>
              </div>
              <div class="col-lg-2" style="padding-left: 0">
                <p class="remove-padding">Tracking ID</p>
                <div style="display: flex">
                  <nz-dropdown [nzTrigger]="'click'">
                    <a nz-dropdown>
                    <span class="clBlue">
                    All IDs
                    </span>
                      <img src="../../../assets/down_arrow.svg" alt="" height="12" width="12" style="margin-left: 10px;margin-bottom: 5px; cursor: pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>
                    <ul nz-menu nzSelectable>
                      <li class="col-lg-12">
                        <nz-input-group [nzSuffix]="suffixIconSearch">
                          <input type="text" nz-input placeholder="Search">
                        </nz-input-group>
                      </li>

                      <li nz-menu-item >
                        <div class="col-lg-12" style="font-size: 13px">

                          <ng-template #suffixIconSearch>
                            <i nz-icon type="search"></i>
                          </ng-template>
                          <br>
                          <small style="font-family: 'Roboto-Regular', sans-serif; color: #FF4165;" nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()" [nzIndeterminate]="indeterminate">Select all / Clear</small> <br>
                          <div>
                            <p>My Events</p>
                            <br>
                          </div>
                          <div nz-row>
                            <nz-checkbox-group nz-col nzSpan="4" [(ngModel)]="checkOptionsOne" (ngModelChange)="updateSingleChecked()">
                              <br>
                            </nz-checkbox-group>
                            <br>
                          </div>
                        </div>
                      </li>
                      <li nz-menu-item>

                      </li>
                      <hr>
                      <li nz-menu-item>

                      </li>
                    </ul>
                  </nz-dropdown>
                </div>
              </div>
              <button nz-button nzSize="small" class="login-form-button" style="background-color:#FF4165; color: white;float: right;margin-top: 10px" (click)="resetFilter()" *ngIf="showReset">Reset</button>
            </div>
          </div>
        </nz-tab>
        <nz-tab [nzTitle]="titleTemplate1" *ngIf="teamCheck">
          <ng-template #titleTemplate1 >
            Teams
          </ng-template>
        </nz-tab>
        <nz-tab [nzTitle]="titleTemplate2" *ngIf="userCheck">
          <ng-template #titleTemplate2>
            Users
          </ng-template>
          shrma1
        </nz-tab>
      </nz-tabset>
      <ng-template #extraTemplate>
        <div class="row" style="margin-right: 5px">
          <p style="color: #707070;font-size: medium;">All Upcoming&nbsp;&nbsp;&lt;!&ndash;&nbsp;&nbsp;<i nz-icon type="down" theme="outline"></i>&ndash;&gt;</p>
          <form nz-form [nzLayout]="'inline'" [formGroup]="validateDatePicker">
            <div nz-form-item>
              <div nz-form-control>
                <nz-range-picker
                  formControlName="dateRange"
                  [nzRanges]="ranges1"
                  nzFormat="yyyy/MM/dd"
                  [(ngModel)]="dateRange"
                  (ngModelChange)="onChange($event)"
                ></nz-range-picker>&lt;!&ndash;(ngModelChange)="onChange($event)"&ndash;&gt;
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
  <hr class="style-one">
  <div *ngIf="recordExists">
    <div nz-row nzType="flex" nzJustify="center" style="margin-bottom: 10px">
      <div nz-col nzSpan="18">
        <p style="color: #707070; font-family: 'Roboto-Medium', sans-serif; font-size: small">Displaying {{displaySize}} of {{totalSize}} Events</p>
      </div>
    </div>
    <div *ngFor="let item of meetingListMapSorted|keyvalue;">
      <div nz-row nzType="flex" nzJustify="center">
        <div nz-col nzSpan="18">
          <p style="color: #707070; font-family: 'Roboto-Medium', sans-serif; font-size: medium; text-align: center;margin-bottom: -10px;margin-top: 5px">{{item.key | date :'EEEE , dd-MM-yyyy'}}</p>
        </div>
      </div>
      <br>
      <div nz-row nzType="flex" nzJustify="center" *ngFor="let data of item.value; let selectIndex = index;">
        <div nz-col nzSpan="18"    *ngIf="data.cancel !== allEvent">
          <nz-collapse [nzBordered]="false" class="custom-card" >
            <nz-collapse-panel [nzHeader]="titleTemplateHeader">
              <div nz-row nzAlign="middle" nzJustify="center">
                <nz-col nzSpan="14" nzOffset="9" align="start">
                  <hr/>
                </nz-col>
              </div>
              <div nz-row nzAlign="middle" nzJustify="center">
                <nz-col nzSpan="6" nzOffset="1" align="start" >
                  <span style="margin-left:30px">Created Date - {{data.createdDate | date}}</span>
                </nz-col>
                <nz-col nzSpan="8" nzOffset="2" align="start">
                  <div *ngIf="data.showCard">
                    <span ><h5>Email <i class=" fa fa-pencil" (click)="visibleContent(item.key,selectIndex)"></i></h5></span>
                    {{data.schedulerEmail}}
                  </div>
                  <div *ngIf="!data.showCard">
                    <form nz-form [formGroup]="updateEmail">
                      <nz-form-item>
                        <nz-form-control>
                          <input type="email" nz-input id="nickname" value="{{data.schedulerEmail}}" style="width: 70%" formControlName="email" >
                          <nz-form-explain *ngIf="updateEmail.get('email')?.dirty && updateEmail.get('email')?.errors">Please input your email!</nz-form-explain>
                        </nz-form-control>
                      </nz-form-item>
                      <span>
A notification will be sent to the updated email address.
<i nz-icon nz-tooltip nzTitle="What do you want other to call you" type="question-circle" theme="outline"></i>
</span>
                      <br>
                      <button nz-button nzSize="small" class="login-form-button" style="background-color:#FF4165; color: white;" (click)="updateContent(item.key,selectIndex, data)"><span>Update</span> </button> &nbsp;&nbsp;&nbsp;&nbsp;
                      <button nz-button nzSize="small" class="login-form-button" style="border-color:#707070; color: #707070;" (click)="inVisibleContent(item.key,selectIndex)" ><span> Cancel </span></button>
                    </form>
                  </div>

                </nz-col>
                <nz-col nzSpan="6" align="start">
                  <h5>Invitee Time Zone</h5>
                  {{data.timeZone}}
                </nz-col>
              </div>
              <div nz-row style="margin-top:2%" nzAlign="middle" nzJustify="center" *ngIf="data.reschedulerName" >
                <nz-col nzSpan="20" align="center">
                  <a > Reschedule by {{data.reschedulerName}} </a> &nbsp;: <span style="color: #FF4165" >{{data.rescheduleReason}}</span>
                </nz-col>
              </div>
              <div nz-row style="margin-top: 5%" nzAlign="middle" nzJustify="center">
                <nz-col nzSpan="24" align="center" *ngIf="!data.cancel">
                  <button nz-button nzSize="small" class="login-form-button" style="background-color:#FF4165; color: white; width: 150px" (click)="onRescheduleMeeting(data)"><i class="fa fa-refresh"></i> &nbsp;&nbsp;&nbsp;<span>Reschedule</span> </button> &nbsp;&nbsp;&nbsp;&nbsp;
                  <button nz-button nzSize="small" class="login-form-button" style="border-color:#707070; color: #707070; width: 150px" (click)="onCancelMeeting(data,item.key,selectIndex)"><i nz-icon type="close" theme="outline"></i><span> Cancel </span></button>
                </nz-col>
              </div>
              <ng-template #titleTemplateHeader>
                <div nz-row nzAlign="middle" nzJustify="center">
                  <div nz-col nzSpan="1" style="margin-top:20px ">
                    <svg width="40" height="40" style="margin-top:2px">
                      <circle cx="15" cy="15" r="13" fill="#DFC12D" *ngIf="data.eventType == '15min'"></circle>
                      <circle cx="15" cy="15" r="13" fill="blue" *ngIf="data.eventType == '30min'"></circle>
                      <circle cx="15" cy="15" r="13" fill="red" *ngIf="data.eventType == '60min'"></circle>
                      <circle cx="15" cy="15" r="13" fill="#36FF0E" *ngIf="data.eventType == '45min'"></circle>
                    </svg>
                  </div>
                  <div nz-col nzSpan="7" style="margin-top:15px;">
                    {{data.meetingTime  | date:'h:mm a'}} - {{data.meetingEndTime  | date:'h:mm a'}}<br>
                    Event Type <b style="color: #707070" class="fnt" >{{ data.eventType}} {{event}}</b>
                  </div>
                  <div nz-col nzSpan="16" style="margin-top: 13px" *ngIf="!data.cancel">
                    <a style="color: #FF4165; "> <b>{{data.schedulerName}}</b> </a> &nbsp; with you <br>
                  </div>
                  <div nz-col nzSpan="16" style="margin-top: 13px" *ngIf="data.cancel">
                    <s><a style="color: #FF4165; "> <b>{{data.schedulerName}}</b> </a> &nbsp; with you <br></s>
                    <div nz-row>
                      <p style="color: #FF4165;font-family: Roboto-Medium, sans-serif;">Cancelled by {{data.cancelBy}}: <span style="color: #4D5055;font-family: Roboto-Medium, sans-serif;"> &nbsp;&nbsp;"{{data.cancelMessage}}"</span> </p>
                    </div>
                  </div>
                </div>
              </ng-template>
            </nz-collapse-panel>
          </nz-collapse>
        </div>
      </div>
    </div>
    <div nz-row nzType="flex" nzJustify="center" style="margin-top:30px;margin-bottom: 30px " >
      <h6>You've reached the end of the list.</h6>
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="center" *ngIf="!recordExists" >
    <div nz-col nzSpan="18">
      <div style="text-align: center;margin-top: 15%">
        <p class="centerText">You have no upcoming events yet.</p>
        <p class="centerText">As events are scheduled with you, they'll appear here.</p>
        <p class="centerTextSmall">Need tips? Check out our <span style="color: #FF4165;cursor: pointer">Knowledge base</span></p>
      </div>
    </div>
  </div>
</div>-->

